@import './../../../../scss/abstracts/themeSrc.scss';
@import './../../../../scss/components/buttons.scss';
.filter-field{
    background-color:$inputColor;
    box-shadow: 0px 1px 2.9px 0.1px rgba(0, 0, 0, 0.25);
    @include borderRadiusCommon(20px);
    @include Display(flex);
    @include PaddingCommon(10px);
    @include alignItem(center);
    @include JustifyContent(space-between);
    label{
        font-weight: $fontWeight700;
        font-size: 16px;
    }
    .form-control{
        background-color:$whiteColor;
        @include Height(35px);
        @include Width(140px);
        font-size: 14px;
        @include Margin(0,8px,0,8px);   
    }
    .submit-btn{
        @include buttonContained;
        min-width: 100px;
        @include Margin(0,10px,0,10px);
    }
    .clear-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        min-width: 100px;
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
        }
    }
}
     
.form-control.sort-by{
    background-color: $primaryColor !important;
    color: $whiteColor !important;
    @include Margin(5px,0,0,0);
    @include borderRadiusCommon(20px);
}