@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.summary{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    h1,h2{
        @include Position(relative);
        @include Margin(0,0,30px,0);
        @include Padding(0,0,15px,0);
        font-size: 26px;
        &:after{
            content: "";
            @include Width(110px);
            @include Height(5px);
            @include Position(absolute);
            left: 0;
            bottom: 0;
            background-color:$dividerColor;
        }
    }
    ul{
        &.summary-list{
            border:1px solid $borderColor;
            li{
                @include Display(flex);
                @include alignItem(center);
                @include PaddingCommon(10px);
                border-bottom:1px solid $borderColor;
                &:last-child{
                    border:0;
                }
                h6,p{
                    @include Width(50%);
                }
                &:nth-of-type(even){
                    background-color:#e2e2e2;
                }
            }
        }
    }
    .acknowledgement{
        @include Display(flex);
        background-color:$inputColor;
        @include borderRadiusCommon(10px);
        @include alignItem(flex-start);
        @include PaddingCommon(20px);
        @media(max-width:$smDevice){
            @include Margin(20px,0,20px,0);
        }
        @media(max-width:$xsDevice){
            flex-direction: column;
        }
        img{
            @include Margin(0,20px,0,0);
            @media(max-width:$xsDevice){
                @include Margin(0,0,10px,0);
            }
        }
        h5{
            @include Margin(0,0,10px,0);
            font-weight: $fontWeight700;
        }
    }
    .next-btn{
        text-transform: initial;
        @include buttonContained;
        img{
            transform:rotate(-90deg);
            @include Margin(0,0,0,7px);
            vertical-align: revert;
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
        @media(max-width:400px){
            margin-top:10px;
        }
    }
    .back-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,20px,0,0);
        img{
            transform:rotate(90deg);
            @include Margin(0,10px,0,0);
            vertical-align: revert;
            filter: invert(1);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(0);
            }
        }
    }
}