@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.claim-info{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    @media(max-width:$smDevice){
        @include PaddingCommon(0px!important);
        box-shadow: none;
    }
    label{
        font-weight: $fontWeight600;
        @media(max-width:$smDevice){
            margin-bottom: 10px;
        }
        &.usd{
            @media(max-width:$smDevice){
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
        &.relief{
            @media(max-width:$smDevice){
                margin-bottom: 5px;
                margin-bottom: 0;
            }
        }
        &.checkbox{
            @include PaddingCommon(0);
            margin-bottom: 0;
            .checkmark{
                top: -22px;
                @include Width(25px);
                @include Height(25px);
                &.checked{
                    &::after{
                    display: block !important;
                        border-color: $whiteColor;
                        left: 8px;
                        top: 4px;
                        @include Width(8px);
                        @include Height(13px);
                    }
                    background-color: #1e1666;
                }
                &::after{
                        display: none !important;
                    }
            }
            input:checked ~ .checkmark{
                background-color: $primaryColor;
            }
        }
    }
    i{
        font-style: italic;
        font-size: 15px;
        font-weight: $fontWeight500;
    }
    .add-new{
        @include Position(absolute);
        top:5px;
        right:0;
        text-decoration: $textUnderline;
        &:before{
            content:"+";
        }
    }
    .next-btn{
        @include buttonContained;
        img{
            transform:rotate(-90deg);
            @include Margin(0,0,0,7px);
            vertical-align: revert;
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
    }
    .back-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,20px,0,0);
        img{
            transform:rotate(90deg);
            @include Margin(0,10px,0,0);
            vertical-align: revert;
            filter: invert(1);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(0);
            }
        }
    }
}