@import './../abstracts/themeSrc';


.btn{
    @include Display(inline-block);
    font-weight: $fontWeight500;
    font-size: 16px;
    @include Padding(4px,10px,4px,10px);
    text-align: $textCenter;
    cursor:$cursorPointer;
    user-select: none;
    @include borderRadiusCommon(20px);
    text-transform: $capitalize;
    white-space: normal;
    word-wrap: break-word;
    min-width: 120px;
    border:1px solid $transparent;
    &:disabled{
        cursor: $cursorDefault;
        pointer-events: $pointeEvent;
    }
}

@mixin buttonContained{    
    @extend .btn;
    background:$primaryColor;
    border-color:$primaryColor;
    color: $whiteColor;
    transition: all 0.8s;
    img{
        transition: all 0.8s;
    }
    &:hover{
        background:$transparent;
        color: $primaryColor;
        transition: all 0.8s;
        img{
            transition: all 0.8s;
        }
    }
}

@mixin buttonOutlined{    
    @extend .btn;
    background:$transparent;
    border-color:$whiteColor;
    color: $whiteColor;
    transition: all 0.8s;
    img{
        transition: all 0.8s;
    }
    &:hover{
        background:$whiteColor;
        border-color: $whiteColor;
        color: $primaryColor;
        transition: all 0.8s;
        img{
            transition: all 0.8s;
        }
    }
}

.google-btn{
    letter-spacing: 1.3px;
    background-color: #76b8ff;
    font-size: 13px;
    color: $whiteColor;
    border: 0;
    @include Padding(7px,20px,7px,10px);
    min-width: 200px;
    @include Margin(30px,0,0,0);
    span{
        background-color:$whiteColor;
        @include Margin(-7px,10px,-7px,-13px);
        @include Display(inline-block);
        @include Width(40px);
        @include Padding(0,0,5px,0);
        img{
            @include Width(15px);
            @include Margin(5px,0,0,0);
            vertical-align: -12px;
        }
    }
    &.google-btn__2{
        span{
            @include Margin(-7px,10px,-7px,-9px);
            @include Padding(0,0,7px,0);
            img{
                @include Width(30px);
                @include Margin(6px,0,0,0);
                vertical-align: -3px;
            }
        }
    }
}