@import './../abstracts/themeSrc';

.form-control{
    font-size: 16px;
    @include Padding(4px,10px,4px,10px);
    @include borderRadiusCommon(10px);
    border:0;
    background:$inputColor;
    @include Height(44px);
    color: $primaryTextColor;
    font-weight: $fontWeight600;
    &:disabled{
        cursor: $cursorDefault;
        pointer-events: $pointeEvent;
    }
    &:focus{
        background-color:$inputColor;
    }
    &.transparent{
        background-color:$transparent;
        border:1px solid $borderColor;
    }
}

@mixin textField{    
    @extend .form-control;
}
