@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
.header--bottom{
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: 16px;
    font-weight: $fontWeight500;
    .toogle{
        @include Display(none);
        cursor: $cursorPointer;
        z-index: 99;
        @include PaddingCommon(15px);
        @include Width(40px);
        @include Height(40px);
        @include borderRadiusCommon(50%);
        background-color: $primaryColor;
        &:after,
        &:before{
            content: "";
            background-color: $whiteColor;
            @include Height(2px);
            @include Width(25px);
            @include Position(absolute);
            top: 27px;
            left:8px;
            transition: all 0.5s;
        }
        &:after{
            top:11px;
        }
        span{
            @include Height(2px);
            @include Width(25px);
            @include Position(absolute);
            left: 8px;
            top: 19px;
            background-color:$whiteColor;
            transition: all 0.5s;
        }
        &.open-menu{
            float: right;
            span{
                @include Display(none);
                transition: all 0.5s;
            }
            &:after,
            &:before{
                transition: all 0.5s;
                transform: rotate(-45deg);
                top: 18px;
                right: 20px;
                left: auto;
            }
            &:before{
                transition: all 0.5s;
                transform: rotate(45deg);
            }
        }
        @include breakPoints(767px){
            @include Display(block); 
        }
    }
    .navbar{
        @include PaddingCommon(0);
        &.open-menu{
            visibility: visible;
            transition: all 0.2s;
            width: 90%;
        }
        @include breakPoints(767px){
            visibility:hidden;
            left: 0;
            transition: all 0.2s;
            width: 0;
            position:fixed;
            top:95px;
            z-index: 999;
        }
        .navbar-nav{
            @include flexDirection(row);
            @include breakPoints(767px){
                @include Display(block); 
                background-color:$lightGreen;
                @include Position(absolute);
                @include Width(100%);
                z-index: 9;
                top: 12px;
                @include Padding(0,0,15px,0);
            }
            .nav-item{
                &:nth-child(3),
                &:last-child{
                    @include Display(inline-block);
                    @media(max-width:$smDevice){
                        @include Display(block);
                    }
                }
                .nav-link{
                    @include Padding(0.5rem,1rem,0.5rem,1rem);
                    background:$transparent;
                    color: $whiteColor;
                    min-width: auto;
                    border:0;
                    font-size: 18px;
                    font-weight: 500;
                    @include breakPoints(991px){
                        @include Padding(0.5rem,0.5rem,0.5rem,0.5rem);
                    }
                    @include breakPoints(767px){
                        border-bottom: 1px solid $borderColor;
                        @include Padding(0.5rem,1rem,0.5rem,1rem);
                        color: $primaryColor;
                    }
                    @media(max-width:$xxlDevice){
                        font-size: 15px;
                        font-weight: 500;
                    }
                    &.dropdown-toggle{
                        @include breakPoints(767px){
                            border:0;
                        }
                        &:after{
                            border-top: 0.4em solid;
                            vertical-align: 0.155em;
                        }
                    }
                    &.dropdown-toggle{
                        @include breakPoints(767px){
                            border:0;
                        }
                        &:after{
                            border-top: 0.4em solid;
                            vertical-align: 0.155em;
                        }
                    }
                    &.cred-btn{
                        @include buttonContained;
                        @include Margin(4px,0,0,15px);
                        @include breakPoints(767px){
                            @include Margin(10px,0,0,1rem);
                            font-size: 15px;
                        }
                        @media(max-width:$xxlDevice){
                            font-size: 13px;
                            font-weight: 500;
                        }
                        img{
                            @include Margin(0,10px,0,0);
                        }
                        &:hover{
                            background-color: $whiteColor;
                            color: $primaryColor;
                        }
                    }
                }               
                &:first-child,
                &:nth-child(2){
                    .nav-link{
                        position: relative;
                        &:before{
                            content: "";
                            position: absolute;
                            right: 0;
                            background-color:$primaryColor;
                            height: 15px;
                            width: 1px;
                            top: 14px;
                            @include breakPoints(767px){
                                @include Display(none);
                            }
                        }
                    } 
                }
                &.dropdown{
                    @include Position(static);
                    .dropdown-menu{
                        transform: none !important;
                        margin: 0 !important;
                        @include Width(100%);
                        padding: 20px 0;
                        width: 100%;
                        /*top: 50px !important;*/
                        border-left: 0;
                        border-right: 0;
                        border-radius: 0;
                        border-top: 0;
                        border-color: #ccc;
                        @include breakPoints(767px){
                            padding: 0;
                            position:relative !important;
                            top: 0px !important;
                        }
                        .border-right{
                            @include breakPoints(767px){
                                border-bottom: 1px solid #dee2e6 !important;
                                padding-bottom: 15px;
                                border-right: 0 !important;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                        .container{
                            @include Display(block);
                        }
                        h4{
                            text-transform: $upperCase;
                            font-size: 18px;
                            font-weight: 600;
                            @include Position(relative);
                            margin-bottom: 20px;
                            @include breakPoints(767px){
                                margin-top:20px;
                            }
                            &:after{
                                content: "";
                                background:#ccc;
                                @include Width(60px);
                                @include Position(absolute);
                                @include Height(2px);
                                bottom:-10px;
                                left: 0;
                            }
                        }
                        .dropdown-item{
                            padding: 0.25rem 0;
                            /*&:before{
                                content:"";
                                border-top: 0.3em solid;
                                border-right: 0.3em solid transparent;
                                border-bottom: 0;
                                border-left: 0.3em solid transparent;
                                display: inline-block;
                                transform: rotate(-90deg);
                                vertical-align: 3px;
                                margin-right: 10px;
                            }*/
                            &:hover{
                                background: $transparent;
                            }
                        }
                    }
                }
                &.show{
                    .dropdown-toggle{
                        &:after{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:768px){
    .header--bottom .navbar .navbar-nav .nav-item.dropdown .dropdown-menu{
        position: absolute;
    }
    .header--bottom .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu{
        display: block;
    }
    .header--bottom .navbar .navbar-nav .nav-item:hover .nav-link.dropdown-toggle:after{
        transform: rotate(180deg);
    }
}
@media(max-width:767px){
    .header--bottom .navbar .navbar-nav .nav-item.dropdown.show .dropdown-menu{
        display: block;
    }
    .header--bottom .navbar.open-menu{
        width: 80%;
    }
}