@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.file-details{
    /*box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);*/
    @include PaddingCommon(0);
    @include borderRadiusCommon(20px);
    @media(max-width:$smDevice){
        @include Padding(20px,0,0,0);
        box-shadow:none;
    }
    h1,h2{
        @include Position(relative);
        @include Margin(0,0,20px,0);
        @include Padding(0,0,15px,0);
        font-size: 26px;
        &:after{
            content: "";
            @include Width(110px);
            @include Height(5px);
            @include Position(absolute);
            left: 0;
            bottom: 0;
            background-color:$dividerColor;
        }
    }
    .inline-heading{
        float:left;
        margin-bottom: 0;
    }
    .add-primary{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        &:before{
            content:"+";
            color: $whiteColor;
            background-color: $primaryColor;
            @include Width(20px);
            @include Height(20px);
            @include Display(inline-block);
            line-height:20px;
            @include borderRadiusCommon(20px);
            @include Margin(0,10px,0,0);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            &:before{
                background-color: $whiteColor;
                color: $primaryColor;
            }
        }
    }
    .loadedContent{
        h2{
            margin: 20px 0;
        }
    }
}
