@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
.header--top{
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: 16px;
    font-weight: $fontWeight500;
    @include Padding(10px,0,10px,0);
    p{
        a{
            @include buttonOutlined;
            @include Margin(0,0,0,10px);
            @include breakPoints(767px){
                @include Margin(10px,auto,0,auto);
                @include Display(block);
                @include Width(150px);
            }
            @media(max-width:$xxlDevice){
                font-size: 14px;
                font-weight: 400;
            }
        }
        @media(max-width:$xxlDevice){
            font-size: 14px;
            font-weight: 400;
        }
    }
}