* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: $font-size-body;
    color: $color-text;
    background-color: $color-white;
    font-family: $font-family-body;
    -webkit-text-size-adjust: none;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    &.active{
        overflow: hidden;
    }
}

figure {
    margin: 0;
    padding: 0;
    img {
        width: 100%;
    }
}

a, span{
    display: inline-block;
    text-decoration: none;
}
a{
    color: #000000;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
select{
    appearance: none;
}

.container {
    max-width: $container;
    margin: 0 auto;
        @include breakpoint(laptop){
           max-width: 1140px;
        }
         @include breakpoint(large){
             max-width: 100%;
             width: 90%;
        }
}
h4{
    color: #303438;
    // font-family: "SF UI Display";
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
p{
    color: $color-text;
    // font-family: "SF UI Display";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}
h5{
    color: $color-text;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.54px;
}
.container-sm{
    max-width: $container-sm;
    margin: 0 auto;
}
p{
    color: #303438;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}

img {
    max-width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.slick-slide {
    outline: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
