h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-body;
}


h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
    @include breakpoint(xmedium){
        font-size: 30px !important;
    }
    @include breakpoint(small){
        font-size: 24px !important;
    }
}

h3 {
    font-size: $font-size-h3;

}

h4 {
    font-size: $font-size-h4;

}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

p {
    line-height: 1.5; 
}
