@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.claim-list{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    @media(max-width:$smDevice){
        @include Padding(0,0,20px,0);
        box-shadow:none;
    }
    .add-primary{
        @include buttonContained;
        @include Margin(0,15px,0,0);
        &:hover{
            border-color: $primaryColor;
            color: $primaryColor;
            background-color: $whiteColor;
        }
    }
    .input-group{
        background-color: $primaryColor;
        @include borderRadiusCommon(20px);
        @include Width(250px);
        float:$floatRight;
        .form-control{
            background-color: $transparent;
            color: $whiteColor;
        }
        .input-group-text{
            background-color: $transparent;
            border:0;
        }
    }
}