



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    @include PaddingCommon(0);
    @include MarginCommon(0);
    @include BorderCommon(0);
    outline:0;
}

a{
    text-decoration: $textUnderlineNone;
    color: $primaryTextColor;
    &:hover{
        text-decoration: $textUnderlineNone;
        color: $primaryTextColor;    
    }
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    @include Display(block);
}
ol,ul{
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content:'';
    content:none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    @include Display(inline-block);
    *zoom: 1;
    max-width: 100%;
}


.form-control::-moz-placeholder {
    color: $secondaryColor;
}
  
.form-control:-ms-input-placeholder {
    color: $secondaryColor;
}

.form-control::-ms-input-placeholder {
    color: $secondaryColor;
}
  
.form-control::placeholder {
    color: $secondaryColor;
}

::-moz-selection {
    background: $secondaryColor;
    color: $whiteColor;
}

::selection {
    background: $secondaryColor;
    color: $whiteColor;
}