html, 
body{
  @include Height(100%);
}
body {
  @include PaddingCommon(0);
  @include MarginCommon(0);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:$whiteColor;
  color: $primaryTextColor;
  font-size: 18px;
  font-weight: $fontWeight400;
  @include breakPoints(767px){
    font-size: 16px;
  }
}

strong,
b {
	font-weight: $fontWeight700;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1,h2{
  font-size: 40px;
  font-weight: $fontWeight700;
  @include breakPoints(991px){
    font-size: 34px;
  }
  @include breakPoints(767px){
    font-size: 26px;
  }
}
.required{
  color: $redColor;
  @include Margin(0,0,0,2px);
}