@import './../../scss/abstracts/themeSrc.scss';
.section {
    &.home--module--one{
        @include Padding(40px,0,40px,0);
        p{
            & + p{
                @include Margin(1rem,0,0,0);
            }
        }
        ol,ul{
            list-style: auto;
            padding-left: 25px;
            margin-bottom: 10px;
        }
    }
}


.home--module--two{
    background-image: url('./../../assets/images/home-banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    @include Padding(40px,0,40px,0);
    background-position: bottom;
    h1{
        @include Position(relative);
        @include Margin(0,0,30px,0);
        @include Padding(0,0,15px,0);
        &:after{
            content:'';
            background-color: $dividerColor;
            width:110px;
            height:6px;
            bottom: 0;
            left: 0;
            @include Position(absolute);
        }
    }
}
.home--module--three{
    @include Padding(40px,0,40px,0);
    h2{
        @include Position(relative);
        @include Margin(0,0,30px,0);
        @include Padding(0,0,15px,0);
        &:after{
            content:'';
            background-color: $dividerColor;
            width:110px;
            height:6px;
            bottom: 0;
            left: 0;
            @include Position(absolute);
        }
    }
    p{
        & + p{
            @include Margin(1rem,0,0,0);
        }
    }
}


.home-section{
    p{
        & + p{
            @media(max-width:$xxlDevice){
                @include Margin(10px,0,0,0);
            }
        }
        @media(max-width:$xxlDevice){
            font-size: 16px;
        }
    }
    h1{
        @media(max-width:$xxlDevice){
            font-size: 32px;
            font-weight: 500;
            @include Margin(0,0,24px,0);
        }
    }
    h2{
        @media(max-width:$xxlDevice){
            font-size: 32px;
            font-weight: 500;
            @include Margin(0,0,24px,0);
        }
    }
}