@import './../../../../scss/abstracts/themeSrc.scss';
@import './../../../../scss/components/buttons.scss';
.invoice{
    @include Margin(0,0,30px,0);
    ul{
        li{
            @include Display(flex);
            @include Margin(25px,0,25px,0);
            @include alignItem(center);
            @media(max-width: $smDevice){
                &.no-margin{
                    @include Margin(0,0,25px,0);
                }
            }
            label,p,.form-control{
                @include Width(50%)
            }
            .form-control{
                border:1px solid $borderColor;
            }
            p{
                color: $paraColor;
            }
        }
    }
    .print-btn{
        @include buttonContained;
        @media(max-width: $mdDevice){
            font-size: 14px;
            min-width: 100px;
        }
        @media(max-width: $smDevice){
            @include Width(100%);
            @include Margin(0,0,10px,0);
        }
        img{
            @include Margin(0,10px,0,0);
        }
        &:hover{
            img{
                filter: invert(1);
            }
            a{
             color: $primaryColor;
            }
        }
        a{
            color: $whiteColor;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .file-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,0,0,20px);
        @media(max-width: $mdDevice){
            @include Margin(0,0,0,10px);
            font-size: 14px;
            min-width: 100px;
        }
        @media(max-width: $smDevice){
            @include Width(100%);
            @include Margin(0,0,10px,0 !important);
        }
        img{
            @include Margin(0,10px,0,0);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(1);
            }
            a{
             color: $whiteColor;
            }
        }
    }
    .claim-description{
        ul {
            @media(min-width: $smDevice){
                label {
                    width: 24.4%;
                }
                p {
                    width: 75.6%;
                }
            }
        }
    }
    &.claim-types {
        .print-btn{
            @media(max-width: $smDevice){
                width: 49%;
                margin-right: 8px;
            }
        }
        .file-btn{
            @media(max-width: $smDevice){
                width: 48%;
                &.expense{
                    margin-right: 10px !important;
                }
            }
        }
    }
}
 