.cart-btn{
   background-color: #66aa45;
   text-align: center;
   cursor: pointer;
   margin-bottom: 12px;
   @include breakpoint(xmedium){
      padding: 9px 0;
      margin-bottom: 8px;
      @include breakpoint(small){
         padding: 5px 19px;
      }
      @include breakpoint(xsml){
         padding: 2px 0px;
         line-height: 13px;
         margin-bottom: 5px;
      }
   }
   &.disabled{
      background-color: #ccc;
      cursor: no-drop;
   }
   button{
      padding: 13px 10px;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 17px;
      color: #fff;
      text-align: center;
      font-weight: 600;
      @include breakpoint(laptop){
         font-size: 14px;
      }
      @include breakpoint(small){
         font-size: 10px;
         padding: 5px;
      }
      &:disabled{
         cursor: no-drop;
      }
   }
   a{
      font-size: 17px;
      text-align: center;
      padding: 13px 50px;
      color: #fff;
      @include breakpoint(small){
         font-size: 14px;
      }
      @include breakpoint(xsml){
         font-size: 10px;
      }
   }
   
}
.more-btn{
   text-align: center;
   color: #fff;
   cursor: pointer;
   @include breakpoint(small){
      text-align: left;
   }
   a{
      background-color: $color-primary;
      padding: 14px 92px 11px 92px;
      border-radius: 4px;
      font-size: 17px;
      color: #fff;
      font-weight: 700;
      margin: 0 auto;
      cursor: pointer;
      letter-spacing: 0.51px;
      text-align: center;
      @include breakpoint(small){
         padding: 10px 15px;
         font-size: 13px;
      }
   }
}
.icon-filter{
   background-image: url(../images/icons/icon-filter.png);
   width: 23px;
   height: 23px;
   background-size: contain;
   background-repeat: no-repeat;
}
.btn{
   padding: 10px 20px 10px;
   border-radius: 2px;
   background-color: #66aa44;
   color: #fff;
   text-align: center;
   display: inline-block;
   &.btn-white{
      background-color: #f2f2f2;
      color: #000;
   }
}
