.flex {
    display: flex;
    flex-wrap: wrap;

    &.column {
        flex-flow: column wrap;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-center {
        justify-content: center;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.space-end {
        justify-content: flex-end;
    }

    // Items alignment
    &.items-align-center {
        align-items: center;
    }

    &.align-stretch {
        align-items: stretch !important;
    }

    &.align-start {
        align-items: flex-start;
    }
}
