.form-section{
   width: 100%;
   .form-group{
      width: 100%;
      margin-top: 27px;
      // text-align: center;
      select {
         width: 100%;
         padding: 13px 21px;
         font-size: 16px;
         border: 1px solid #67a830;
         outline: none;
         border-radius: 4px;
         letter-spacing: 1px;
         letter-spacing: 0.48px;
         transition: all 0.35s
      }
      input{
         width: 470px;
         padding: 13px 21px;
         background-color: transparent;
         border-radius: 4px;
         border:  1px solid #67a830;
         color: #303438;
         font-size: 16px;
         line-height: 1.2em;
         font-weight: 500;
         letter-spacing: 0.48px;
         transition: all 0.35s;
         @include breakpoint(xmedium){
            width: 360px;
            padding: 10px 21px;
            @include breakpoint(small){
               width: 265px;
            }
            @include breakpoint(xsml){
               width: 215px;
            }
            // @include breakpoint(xsml){
            //    width: 260px;
            // }
         }
         outline: none;
         &:focus{
            box-shadow: 0 0 20px rgba(0,0,0,0.15);
         }
         &::placeholder{
            color: #acadab;
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 500;
            letter-spacing: 0.48px;
         }
      }
      input[type="submit"]{
         width: 223px;
         margin: 0 auto;
         background-color: #67a830;
         padding: 15px;
         border-radius: 4px;
         border:  1px solid #67a830;
         color: #fff;
         font-size: 16px;
         line-height: 1.2em;
         cursor: pointer;
         font-weight: 700;
         letter-spacing: 0.48px;
         transition: all 0.35s;
         outline: none;
         -webkit-appearance: none;
         text-align: center;
         @include breakpoint(small){
            width: 180px;
            padding: 12px;
            font-size: 14px;
         }
      }
   }
   p{
      text-align: center;
      color: #303438;
      font-size: 18px;
      line-height: 1.3em;
      margin-top: 27px;
      font-weight: 500;
      letter-spacing: 0.54px;
      a{
         font-weight: 700;
         color: #303438;
      }
   }
   a{
      text-align: right;
      color: #838482;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.48px;
      margin-top: 20px;
      display: block;
   }
}