@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.new-claim{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    background-image: url('./../../../assets/images/home-banner.jpg');
    background-repeat: no-repeat;
    min-height: 350px;
    @include Display(flex);
    @include alignItem(center);
    @include JustifyContent(center);
    .new-claim-btn{
        @include buttonContained;
        min-width: 200px;
        @include Padding(7px,10px,7px,10px);
        img{
            @include Margin(0,0,0,7px);
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
    }
    @media(max-width:$smDevice){
       background-position: center center;
    }
}