@import './../../scss/abstracts/themeSrc.scss';
.claim-tabs{
    border:0;
    @include Margin(50px,0,50px,0);
    @include JustifyContent(center);
    background-color:$inputColor;
    box-shadow: 0px 1px 2.9px 0.1px rgba(0, 0, 0, 0.25);
    @include borderRadiusCommon(20px);
    .nav-link{
        @include borderRadiusCommon(0);
        @include MarginCommon(0);
        @include Width(20%);
        font-size: 16px;
        text-align: $textCenter;
        font-weight: $fontWeight500;
        border:0;
        color: $primaryTextColor !important;
        &:first-child{
            @include borderRadius(20px,0,0,20px);
        }
        &:last-child{
            @include borderRadius(0,20px,20px,0);
        }
        &.active,
        &.show{
            background-color:$primaryColor;
            color: $whiteColor !important;
        }
    }
}
.tab-content{
    @include Margin(0,0,50px,0);
}
.claim-accordion{
    @include Padding(40px,0,40px,0);
    button{
        &.accordion-button{
            color: #201e53;
            font-size: 18px;
            @include Width(100%);
            border:0;
            background-color: $lightGreen;
            box-shadow: 2px 3px 6px #ccc;
            @include borderRadiusCommon(10px);
            @include PaddingCommon(10px 15px);
            text-transform: $upperCase;
            font-weight: $fontWeight500;
            text-align: $textLeft;
            @include Position(relative);
            @include Margin(0,0,20px,0);
            &:after{
                content:"+";
                @include Position(absolute);
                right: 20px;
                font-size: 26px;
                background-color:$primaryColor;
                @include Width(25px);
                @include Height(25px);
                text-align: $textCenter;
                @include borderRadiusCommon(30px);
                color: $whiteColor;
                line-height: 24px;
            }
        }
    }
    .active-button{
        .accordion-button{
            background-color: $secondaryColor;
            color: $whiteColor;
            &:after{
                background-color:$whiteColor;
                color: $secondaryColor;
                content:"-";
            }
        }
    }
}