@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.claim-list-table{
    @include Margin(50px,0,20px,0);
    .pagination{
        @include JustifyContent(center);
        @include Margin(20px,0,0,0);
        .page-item{
            .page-link{
                border:0;
                background-color:$inputColor;
                color: $primaryColor;
                font-size:15px;
                font-weight: $fontWeight700;
                @include Margin(0,10px,0,10px);
                @include borderRadiusCommon(10px);
            }
            &.active{
                .page-link{
                    background-color: $primaryColor;
                    color: $whiteColor;
                }
            }
        }
    }
    .table{        
        box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
        border-color: $borderColor;
        tr{            
            &:nth-of-type(odd){
                background-color:$whiteColor
            }
            &:nth-of-type(even){
                background-color:#e2e2e2
            }
            th,td{
                font-size: 15px;
                white-space: nowrap;
                border-color: $borderColor;
            }
            th{
                background-color:$primaryColor;
                color: $whiteColor;
                @include Position(relative);
                &:before,
                &:after{
                    content: "";
                    border-left: 5px solid $transparent;
                    border-right: 5px solid $transparent;
                    border-top: 10px solid $whiteColor;
                    cursor: pointer;
                    right: 5px;
                    bottom: 10px;
                    @include Position(absolute);
                }
                &:after{
                    top: auto;
                    bottom: 26px;
                    transform:rotate(180deg);
                }
            }
            td{
                p{
                    &.text-truncate{
                        @include Width(200px);
                    }
                }
                .view-btn{
                    @include buttonContained;
                }
                img{
                    @include Margin(0,10px,0,0);
                    cursor: pointer;
                }
                .add-secondary{
                    @include buttonOutlined;
                    border-color: $borderColor;
                    color: $primaryColor;
                    background-color:$inputColor;
                    &:before{
                        content:"+";
                        color: $primaryColor;
                        @include Margin(0,10px,0,0);
                    }
                    &:hover{
                        background-color:$inputColor;
                        border-color: $borderColor;
                    }
                }
            }
        }
    }
}