@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.claim-list{
    /*box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);*/
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    @media(max-width:$smDevice){
        @include PaddingCommon(10px);
    }
    .add-primary{
        @include buttonContained;
        @include Margin(0,15px,0,0);
        &:hover,
        &.active{
            border-color: $primaryColor;
            color: $primaryColor;
            background-color: $whiteColor;
        }
        @media(max-width:$smDevice){
            @include Margin(0,0,10px,0);
            @include Display(block);
            @include Width(auto !important);
        }
    }
    .input-group{
        background-color: $primaryColor;
        @include borderRadiusCommon(20px);
        @include Width(250px);
        float:$floatRight;
        @media(max-width:$smDevice){
            @include Width(100%);
        }
        .form-control{
            background-color: $transparent;
            color: $whiteColor;
            @media(max-width:$smDevice){
                height:44px !important;
            }
        }
        .input-group-text{
            background-color: $transparent;
            border:0;
        }
    }
}