@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
@import './../../scss/components/textField.scss';
.add-document--modal{
    .btn-signin{
        @include buttonOutlined;
        @include Margin(15px,auto,0,auto);
        background-color: $secondaryColor;
        color: $whiteColor;
        @include Display(block);
        &:hover{
            color: $secondaryColor;
            border-color: $secondaryColor;
        }
    }
}