// Border radius All
  @mixin borderRadius($tLeft,$tRight,$bRight,$bLeft){
    border-radius: $tLeft $tRight $bRight $bLeft;
  }
// Border radius Common
  @mixin borderRadiusCommon($radius){
    border-radius: $radius;
  }

  // border All
  @mixin Border($topValue,$rightValue,$bottomValue,$leftValue) {
    border-top: $topValue;
    border-right: $rightValue;
    border-bottom: $bottomValue;
    border-left: $leftValue;
  }

  // border Common
  @mixin BorderCommon($border) {
    border: $border;
  }

  // Padding All
  @mixin Padding($Top,$Right,$Bottom,$Left) {
    padding: $Top $Right $Bottom $Left;
  }

  // Padding Common
  @mixin PaddingCommon($Padding) {
    padding: $Padding;
  }

  // Margin All
  @mixin Margin($Top,$Right,$Bottom,$Left) {
    margin: $Top $Right $Bottom $Left;
  }
  // Margin Common
  @mixin MarginCommon($Margin) {
    margin: $Margin;
  }

  // Display
  @mixin Display($value){
      display:$value;
  }

  // Justify content
  @mixin JustifyContent($value){
    justify-content:$value;
  }

   // Justify item
   @mixin JustifyItem($value){
    justify-items:$value;
  }

  // Align items
  @mixin alignItem($value){
    align-items:$value;
  }

  // Align content
  @mixin alignContent($value){
    align-content:$value;
  }

    // flex direction
  @mixin flexDirection($value){
    flex-direction:$value;
  }

// height
@mixin Height($value){
  height: $value;
}

// width
@mixin Width($value){
  width: $value;
}

  // Breakpoints
  @mixin breakPoints($value){
    @if($value >= 1199){
      @media(max-width:1199px){
        @content;
      }
    }
    @else if($value >= 991){
      @media(max-width:991px){
        @content;
      }
    }
    @else if($value >= 767){
      @media(max-width:767px){
        @content;
      }
    }
    @else{
      @media(max-width:576px){
        @content;
      }
    }
  }

  // Position
  @mixin Position($value){
    position: $value;
  }