// color Variables
// $primaryColor:#1e1666;
$primaryColor: var(--primary-color);
$primaryTextColor: var(--primary-text-color);
// $paraColor: #333333;
$paraColor: var(--text-color);
$secondaryColor: #201e53;
$lightGreen: #f0f3fc;
$whiteColor: #ffffff;
$blackColor: #000000;
$transparent:transparent;
$borderColor:#cccccc;
$dividerColor:#d2d4da;
$inputColor:#d6dcef;
$redColor:#ff0000;
$popupHeadingColor: var(--popup-heading-color);
$popupLabelColor: var(--popup-label-color);
$whitePopupHeadingColor: var(--white-popup-heading-color);
$whitePopupLabelColor: var(--white-popup-label-color);
$popupInputColor: var(--popup-input-color);
$whitePopupInputColor: var(--white-popup-input-color);
$popupButtonColor: var(--popup-button-color);
$popupButtonBackground: var(--popup-button-background);
$whitePopupButtonColor: var(--white-popup-button-color);
$whitePopupButtonBackground: var(--white-popup-button-background);
$popupButtonHoverColor: var(--popup-button-hover-color);
$popupButtonHoverBackground: var(--popup-button-hover-background);
$whitePopupButtonHoverColor: var(--white-popup-button-hover-color);
$whitePopupButtonHoverBackground: var(--white-popup-button-hover-background);



// font-weight
$fontWeight100: 100;
$fontWeight200: 200;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight900: 900;

// Text
$upperCase: uppercase;
$lowerCase: lowercase;
$capitalize: capitalize;
$transformNone: none;
$textRight: right;
$textLeft: left;
$textCenter: center;
$textUnderline: underline;
$textUnderlineNone:none;


// Floating
$floatRight: right;
$floatLeft: left;
$floatNone: none;


// Breakpoint
$xxlDevice:1400px;
$xlDevice:1200px;
$lgDevice:1199px;
$mdDevice:991px;
$smDevice:767px;
$xsDevice:576px;

// other variables
$cursorPointer: pointer;
$cursorDefault: default;
$pointeEvent:none;
$borderZero: none;

