@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.claimant-info{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    @media(max-width: $smDevice){
        @include PaddingCommon(0px !important);
        box-shadow: none;
    }
    .w-75{
        @media(max-width: $smDevice){
            @include Width(75% !important);
        }
    }
    label{
        font-weight: $fontWeight600;
        @media(max-width:$smDevice){
            margin-bottom: 10px;
        }
    }
    i{
        font-style: italic;
        font-size: 15px;
        font-weight: $fontWeight500;
    }
    .add-new{
        @include Position(absolute);
        top:5px;
        right:0;
        text-decoration: $textUnderline;
        background-color: $transparent;
        border:0;
        color: $primaryColor;
        &:before{
            content:"+";
        }
        @media(max-width:$smDevice){
            /*@include Position(static);
            margin-top:10px;*/
        }
    }
    .next-btn{
        @include buttonContained;
        img{
            transform:rotate(-90deg);
            @include Margin(0,0,0,7px);
            vertical-align: revert;
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
    }
}