@import './../../../../scss/abstracts/themeSrc.scss';
@import './../../../../scss/components/buttons.scss';
.file-attorney{
    .add-respondent{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,0,20px,0);
        img{
            @include Width(20px);
            vertical-align: -4px;
            @include Margin(0,5px,0,0);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(1);
            }
        }
    }
}