.contact{width:100%}.contact .container{max-width:1015px}.contact .container .row{width:100%;display:flex;justify-content:space-between;flex-wrap:wrap;padding:108px 0 67px}.contact .container .row .col{width:49%}