@import './../../scss/abstracts/themeSrc.scss';
.alert--modal{
    .modal-dialog{
        @media(min-width:$smDevice){
            max-width: 700px;
        }
    }
    p{
        font-size:16px;
    }
    img{
        @include Margin(0,10px,0,0);
        @include Width(25px);
    }
    .alert{
        @include Padding(1.15rem,1.25rem,1.15rem,1.25rem);
    }
    button{
        &.close{
            right: -17px;
            top: -19px;
        }
    }
}