.why-choose-us-mobile {
  display: none;
  @include breakpoint(small) {
    display: block;
    background: rgba(247, 88, 4, 0.87);
    color: #fff;

    .why-choose-us-text {
      list-style-type: none;
      text-align: center;

      li {
        display: inline-block;
        position: relative;
        margin-right: 25px;
        padding-left: 25px;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 14px;

        &::after {
          content: "";
          height: 0.4em;
          width: 0.4em;
          background: #fff;
          display: block;
          position: absolute;
          transform: rotate(45deg);
          top: 0.33em;
          left: 0;
        }

        &:first-child {
          padding-left: 0px;
          &::after {
            display: none;
          }
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  @include breakpoint(fxsml) {
    .why-choose-us-text {
      li {
        margin-right: 10px;
        padding-left: 15px;

        &:first-child {
          padding-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  @include breakpoint(xsml) {
    .why-choose-us-text {
      position: relative;
      height: 15px;

      li {
        margin-right: 5px;
        padding-left: 10px;
        font-size: 10px;
        top: -4px;
        line-height: 10px;
        &:first-child {
          padding-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
.banner {
  width: 100%;
  margin: 0px auto;
  @include breakpoint(small) {
    margin: 0px auto;
  }
  ul {
    width: 100%;
    &.slick-dots {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 4px;
        border: none;
        button {
          outline: none;
          border: none;
          cursor: pointer;
          background-color: #000000;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          font-size: 0;
          transition: all 0.5s linear;
          display: block;
          &::before{
            display: none;
          }
        }
        &.slick-active {
          button {
            background-color: #66aa44;
            width: 20px;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .banner-text {
    position: relative;
    width: 100%;
    height: auto;
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      width: 549px;
      figure {
        @include breakpoint(xxlarge) {
          height: 250px !important;
        }
        // @include breakpoint(xmedium){
        //    width: 240px;
        // }
        // @include breakpoint(medium){
        //    width: 220px;
        // }
        // @include breakpoint(small){
        //    width: 180px;
        // }
        // @include breakpoint(xsml){
        //    width: 140px;
        // }
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    figure {
      height: 350px;
      @include breakpoint(xmedium) {
        height: 345px;
      }
      @include breakpoint(medium) {
        height: 320px;
      }
      @include breakpoint(fxsml) {
        height: 160px;
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
        border-radius: 6px;
        @include breakpoint(small) {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
    }
  }
  .slick-prev {
    z-index: 1;
    left: 50px;
    @include breakpoint(xmedium) {
      left: 30px;
    }
    @include breakpoint(medium) {
      display: none !important;
    }
    @include breakpoint(fxsml) {
      left: 10px;
    }
    &::after {
      content: "\f104";
      font-family: fontawesome;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      color: #000;
      background: #f2f2f2;
      padding: 4px 12px;
      border-radius: 6px;
      @include breakpoint(medium) {
        font-size: 20px;
      }
    }
  }
  .slick-next {
    right: 50px;
    @include breakpoint(xmedium) {
      right: 30px;
    }
    @include breakpoint(medium) {
      display: none !important;
    }
    @include breakpoint(fxsml) {
      right: 10px;
    }
    &::after {
      content: "\f105";
      font-family: fontawesome;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      color: #000;
      background: #f2f2f2;
      padding: 4px 12px;
      border-radius: 6px;
      @include breakpoint(large) {
        font-size: 28px;
      }
      @include breakpoint(medium) {
        font-size: 20px;
      }
    }
  }
  .slick-arrow {
    &:hover {
      &::after {
        color: #fff;
        background: #66aa45;
      }
    }
    &.slick-next {
      &::after {
        left: 50%;
      }
    }
  }
}
.Category-explore {
  width: 100%;
  @include breakpoint(xxlarge) {
    padding: 0 30px;
  }
  @include breakpoint(laptop) {
    padding: 0 0px;
  }
  @include breakpoint(small) {
    .slick-list.draggable {
      padding-right: 5%;
    }
  }
  .container {
    @include breakpoint(large) {
      max-width: 100%;
      padding-left: 0px;
    }
    .slick-slide {
      @include breakpoint(small) {
        padding-right: 10px;
      }
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }

    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    // @include breakpoint(xxlarge){
    //    padding-left: 20px;
    // }
    li {
      padding-right: 31px;
      position: relative;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      &:hover .cate-text p {
        color: #808080;
      }
      @include breakpoint(xxlarge) {
        padding-right: 10px;
      }
      @include breakpoint(large) {
        padding-right: 2px;
      }
      figure {
        border-radius: 4px;
        text-align: center;
        @include breakpoint(xxlarge) {
          margin: 0 10px;
        }
        @include breakpoint(xlarge) {
          margin: 0 10px 0 0;
        }
        @include breakpoint(small) {
          width: 100%;
          padding: 0px;
          margin: 0px;
        }
        // @include breakpoint(xsml){
        //    height: 185px;
        // }
        img {
          width: auto;
        }
      }
      .cate-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 111;
        p {
          text-align: center;
          color: $color-white;
          font-size: 32px;
          &:hover {
            color: #808080;
          }
          @include breakpoint(large) {
            font-size: 24px;
          }
          @include breakpoint(medium) {
            font-size: 20px;
          }
          @include breakpoint(xsml) {
            font-size: 13px;
          }
        }
      }
      &:nth-of-type(3) {
        padding-right: 0px;
      }
    }
  }
}
.category .Category-explore {
  display: none;
}
.product {
  width: 100%;
  @include breakpoint(small) {
    padding-left: 12px;
  }
  .tab {
    ul {
      display: flex;
      align-items: center;
      margin-bottom: 68px;
      @include breakpoint(xxxlarge) {
        padding-left: 20px;
      }
      @include breakpoint(xxlarge) {
        padding-left: 80px;
      }
      @include breakpoint(laptop) {
        padding-left: 0px;
      }
      @include breakpoint(large) {
        margin-bottom: 40px;
      }
      @include breakpoint(small) {
        display: none;
      }
      li {
        border-radius: 32px;
        border: 1px solid #808080;
        margin-right: 5px;

        a {
          color: $color-text;
          padding: 15px 40px 13px;
          font-size: 16px;
          font-weight: 700;
        }
        &.active {
          background-color: $color-primary;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .cart-wrapper {
    .more-btn {
      margin-top: 60px;
      @include breakpoint(xmedium) {
        margin-top: 40px;
      }
      @include breakpoint(small) {
        display: none;
      }
    }
    .cart {
      display: none;
      &:first-of-type {
        display: block;
      }
    }
  }
  .cart {
    width: 100%;
    .slick-initialized .slick-slide {
      height: 100%;
      margin-right: 20px;
      @include breakpoint(laptop) {
        margin-right: 15px;
      }
    }
    .cart-col {
      display: flex;
      flex-wrap: wrap;
      // padding-bottom: 41px;
      margin-right: -20px;
      @include breakpoint(xxxlarge) {
        padding: 0 20px;
      }
      @include breakpoint(xxlarge) {
        padding: 0 80px 0 80px;
      }
      @include breakpoint(laptop) {
        padding: 0 1px 0px;
        margin-right: -15px;
      }
      @include breakpoint(small) {
        padding: 0 2px 0px;
        justify-content: center;
      }
      .cart-img {
        width: calc(20% - 16px);
        padding: 18px 26px 12px 21px;
        border: 1px solid #d4d4d4;
        background-color: #ffffff;
        margin-bottom: 20px;
        margin-right: 20px;
        // min-height: 520px;
        &:nth-child(5n) {
          margin-right: 0px;
        }
        @include breakpoint(xxxxlarge) {
          padding: 10px 12px;
        }
        @include breakpoint(xxlarge) {
          padding: 10px 5px;
          width: calc(25% - 16px);
          &:nth-child(5n) {
            margin-right: 20px;
          }
          &:nth-child(4n) {
            margin-right: 0px;
          }
        }

        @include breakpoint(laptop) {
          padding: 6px 5px 5px 6px;
        }
        @include breakpoint(xmedium) {
          width: calc(33.33% - 16px);
          &:nth-child(4n) {
            margin-right: 20px;
          }
          &:nth-child(3n) {
            margin-right: 0px;
          }
        }
        @include breakpoint(small) {
          &:nth-child(3n) {
            margin-right: 20px;
          }
        }
        @include breakpoint(xsml) {
          padding: 8px 4px 0px 4px;
        }

        figure {
          width: 100%;
          padding: 0 8px 0 7px;
          text-align: center;
          // min-height: 240px;
          @include breakpoint(xxxxlarge) {
            height: 240px;
          }
          @include breakpoint(xxlarge) {
            height: 231px;
          }
          @include breakpoint(xlarge) {
            height: 207px;
          }
          @include breakpoint(xmedium) {
            height: 167px;
          }
          @include breakpoint(small) {
            height: 140px;
          }
          @include breakpoint(xsml) {
            padding: 1px;
          }
          img {
            width: auto;
            object-fit: cover;
            object-position: center;
            height: 100%;
            border-radius: 10px;
            @include breakpoint(small) {
              width: 100%;
            }
          }
        }
        h5 {
          text-align: center;
          padding-top: 33px;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          @include breakpoint(xlarge) {
            padding-top: 12px;
          }
          @include breakpoint(laptop) {
            padding-top: 20px;
          }
          @include breakpoint(medium) {
            padding-top: 10px;
          }
          @include breakpoint(xsml) {
            font-size: 10px;
            padding-top: 6px;
          }
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          @include breakpoint(small) {
            height: 60px;
          }
          li {
            font-size: 19px;
            font-weight: 700;
            width: 100%;
            padding: 10px 6px 9px 2px;
            @include breakpoint(xlarge) {
              padding: 8px 8px 8px 1px;
            }
            @include breakpoint(medium) {
              font-size: 17px;
            }
            @include breakpoint(small) {
              font-size: 12px;
            }
            @include breakpoint(xsml) {
              font-size: 10px;
            }
            p {
              font-size: 23px;
              @include breakpoint(small) {
                font-size: 15px;
              }
              @include breakpoint(xsml) {
                font-size: 12px;
              }
            }
          }
        }
        form {
          display: flex;
          flex-direction: column;
          height: 100%;
          .cart-btn {
            margin-top: auto;
          }
        }
        .offer-price {
          margin-top: 20px;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            li {
              width: auto;
              input {
                border: 2px solid gray;
              }
              .products_attribute {
                float: right;
              }
            }
          }
        }
        .cart-btn {
          button {
            text-transform: uppercase;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-size: 22px;
            @include breakpoint(xlarge) {
              padding: 13px 10px;
              font-size: 18px;
            }
            @include breakpoint(large) {
              padding: 13px 5px;
              font-size: 16px;
            }
            @include breakpoint(xlarge) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
.seller {
  &.seller_shop {
    width: 100%;
    @include breakpoint(medium) {
      display: none;
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 100px 0 42px;
      @include breakpoint(xxxlarge) {
        padding: 100px 20px 42px 20px;
      }
      @include breakpoint(xxlarge) {
        padding: 100px 75px 42px 91px;
      }
      @include breakpoint(laptop) {
        padding: 60px 0px 42px;
      }
      @include breakpoint(medium) {
        padding: 25px 0px 14px;
        text-align: center;
      }
      a {
        color: $color-primary;
        font-size: 16px;
        @include breakpoint(medium) {
          display: none;
        }
      }
    }
    .product {
      width: 100%;
      @include breakpoint(small) {
        padding-left: 12px;
      }
      .cart {
        .cart-col {
          a{
            width: 100%;
          }
          .cart-img {
            width: 100%;
            height: auto;
            padding: 10px;
            margin-bottom: 0px;
            @include breakpoint(medium) {
              height: 243px;
            }
            figure {
              max-width: 140px;
              height: 140px;
              margin: 0 auto;
              width: 100%;
              @include breakpoint(xxlarge) {
                height: 100px;
              }
              @include breakpoint(laptop) {
                height: 80px;
              }
              img {
                width: 100%;
                object-fit: contain;
                object-position: center;
                height: 100%;
              }
            }
            form {
              a {
                figure {
                  width: 100%;
                  // min-height: 240px;
                  margin-bottom: 20px;
                }
              }
            }
            .cart-btn {
              button {
                text-transform: uppercase;
                font-size: 22px;
                @include breakpoint(xxlarge) {
                  padding: 8px;
                  font-size: 18px;
                }
                @include breakpoint(xlarge) {
                  padding: 7px 0;
                  font-size: 15px;
                }
                @include breakpoint(large) {
                  padding: 6px 0;
                }
                @include breakpoint(xmedium) {
                  padding: 5px 0;
                  font-size: 12px;
                }
              }
              @include breakpoint(large) {
                padding: 0 !important;
              }
              @include breakpoint(small) {
                padding: 8px !important;
              }
            }
          }
          @include breakpoint(medium) {
            .slick-list.draggable {
              padding-right: 20%;
            }
          }
        }
      }
      .slick-prev {
        z-index: 1;
        left: -29px;
        width: 44px;
        height: 44px;
        border: 1px solid #b1b1b1;
        @include breakpoint(xxxlarge) {
          left: 22px;
        }
        @include breakpoint(xxlarge) {
          left: 3%;
        }
        @include breakpoint(xlarge) {
          left: 4%;
        }
        @include breakpoint(laptop) {
          left: -72px;
          border: none;
          width: 35px;
          height: 35px;
        }
        @include breakpoint(large) {
          width: 30px;
          height: 30px;
          margin: 0;
          left: -13px;
        }
        @include breakpoint(small) {
          left: -9px;
        }
        @include breakpoint(fxsml) {
          width: 30px;
          height: 30px;
          margin: -17px 0 0;
          left: 1px;
        }
        &::after {
          content: "\f104";
          font-family: fontawesome;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          color: #000000;
        }
      }
      .slick-next {
        right: -1%;
        width: 44px;
        height: 44px;
        border: 1px solid #b1b1b1;
        @include breakpoint(xxxlarge) {
          right: 22px;
        }
        @include breakpoint(xxlarge) {
          right: 3%;
        }
        @include breakpoint(xlarge) {
          right: 4%;
        }
        @include breakpoint(laptop) {
          right: -58px;
          border: none;
          width: 35px;
          height: 35px;
        }
        @include breakpoint(large) {
          width: 30px;
          height: 30px;
          margin: 0px 0 0;
          right: 0px;
        }
        @include breakpoint(small) {
          right: 30px;
        }
        @include breakpoint(fxsml) {
          width: 30px;
          height: 30px;
          margin: -17px 0 0;
          right: 11px;
        }
        &::after {
          content: "\f105";
          font-family: fontawesome;
          top: 50%;
          position: absolute;
          right: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          text-align: center;
          color: #000000;
        }
      }
      .slick-arrow {
        border-radius: 4px;
        &:hover {
          background: #66aa45;
          &::after {
            color: #ffffff;
          }
        }
      }
    }
  }
  width: 100%;
  @include breakpoint(medium) {
    display: none;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0 42px;
    @include breakpoint(xxxlarge) {
      padding: 100px 20px 42px 20px;
    }
    @include breakpoint(xxlarge) {
      padding: 100px 75px 42px 91px;
    }
    @include breakpoint(laptop) {
      padding: 60px 0px 42px;
    }
    @include breakpoint(medium) {
      padding: 25px 0px 14px;
      text-align: center;
    }
    a {
      color: $color-primary;
      font-size: 16px;
      @include breakpoint(medium) {
        display: none;
      }
    }
    // h4{
    //    @include breakpoint(medium){
    //       font-size: 25px;
    //       text-align: center;
    //    }
    //    @include breakpoint(small){
    //       margin-left: -6px;
    //       padding-left: 22px;
    //    }
    // }
  }
  .product {
    width: 100%;
    @include breakpoint(small) {
      padding-left: 12px;
    }
    .cart {
      .cart-col {
        .cart-img {
          width: 100%;
          height: auto;
          padding: 10px;
          margin-bottom: 0px;
          @include breakpoint(medium) {
            height: 243px;
          }
          figure {
            width: 100%;
            margin: 0 auto;
            height: 170px;
            text-align: center;
            @include breakpoint(xlarge) {
              height: 130px;
            }
            img {
              width: auto;
              object-fit: contain;
              object-position: center;
              height: 100%;
            }
          }
          form {
            a {
              figure {
                width: 100%;
                // min-height: 240px;
                margin-bottom: 20px;
              }
            }
          }
          .cart-btn {
            button {
              text-transform: uppercase;
              font-size: 17px;
              @include breakpoint(xxlarge) {
                padding: 8px;
              }
              @include breakpoint(large) {
                padding: 6px;
                font-size: 16px;
              }
              @include breakpoint(xmedium) {
                padding: 5px;
                font-size: 14px;
              }
            }

            @include breakpoint(large) {
              padding: 0 !important;
            }
            @include breakpoint(small) {
              padding: 8px !important;
            }
          }
        }
        @include breakpoint(medium) {
          .slick-list.draggable {
            padding-right: 20%;
          }
        }
      }
    }
    .slick-prev {
      z-index: 1;
      left: -29px;
      width: 44px;
      height: 44px;
      border: 1px solid #b1b1b1;
      @include breakpoint(xxxlarge) {
        left: 22px;
      }
      @include breakpoint(xxlarge) {
        left: 3%;
      }
      @include breakpoint(xlarge) {
        left: 4%;
      }
      @include breakpoint(laptop) {
        left: -72px;
        border: none;
        width: 35px;
        height: 35px;
      }
      @include breakpoint(large) {
        width: 30px;
        height: 30px;
        margin: 0;
        left: -13px;
      }
      @include breakpoint(small) {
        left: -9px;
      }
      @include breakpoint(fxsml) {
        width: 30px;
        height: 30px;
        margin: -17px 0 0;
        left: 1px;
      }
      &::after {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #000000;
      }
    }
    .slick-next {
      right: -1%;
      width: 44px;
      height: 44px;
      border: 1px solid #b1b1b1;
      @include breakpoint(xxxlarge) {
        right: 22px;
      }
      @include breakpoint(xxlarge) {
        right: 3%;
      }
      @include breakpoint(xlarge) {
        right: 4%;
      }
      @include breakpoint(laptop) {
        right: -58px;
        border: none;
        width: 35px;
        height: 35px;
      }
      @include breakpoint(large) {
        width: 30px;
        height: 30px;
        margin: 0px 0 0;
        right: 0px;
      }
      @include breakpoint(small) {
        right: 30px;
      }
      @include breakpoint(fxsml) {
        width: 30px;
        height: 30px;
        margin: -17px 0 0;
        right: 11px;
      }
      &::after {
        content: "\f105";
        font-family: fontawesome;
        top: 50%;
        position: absolute;
        right: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        text-align: center;
        color: #000000;
      }
    }
    .slick-arrow {
      border-radius: 4px;
      &:hover {
        background: #66aa45;
        &::after {
          color: #ffffff;
        }
      }
    }
  }
}
.shop_brand {
  width: 100%;
  @include breakpoint(medium) {
    display: none;
  }
  .shop_title {
    width: 100%;
    text-align: center;
    h3 {
      text-align: center;
      font-size: 34px;
      padding: 60px 0 50px;
      cursor: pointer;
      position: relative;
      // display: inline-block;
      transition: all 0.5s;
      &:hover {
        color: #808080;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
        bottom: 15px;
        left: 0;
        @include breakpoint(laptop) {
          bottom: 9px;
        }
      }
      @include breakpoint(xxlarge) {
        padding: 30px 0px !important;
        font-size: 22px;
      }
      @include breakpoint(xlarge) {
        padding: 20px 0 !important;
      }
      @include breakpoint(medium) {
        display: none;
      }
    }
    h4 {
      text-align: center;
      font-size: 34px;
      padding: 60px 0 50px;
      cursor: pointer;
      position: relative;
      // display: inline-block;
      transition: all 0.5s;
      &:hover {
        color: #808080;
      }
      @include breakpoint(xxlarge) {
        padding: 30px 0px !important;
        font-size: 22px;
      }
      @include breakpoint(xlarge) {
        padding: 20px 0 !important;
      }
      @include breakpoint(medium) {
        display: none;
      }
      @include breakpoint(small) {
        text-align: center;
      }
      @include breakpoint(xsml) {
        font-size: 18px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        bottom: 15px;
        left: 0;
        @include breakpoint(laptop) {
          bottom: 9px;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        padding: 14px 12px 10px;
        display: none;
        @include breakpoint(medium) {
          display: block;
        }
        p {
          font-size: 22px;
          font-weight: bold;
          color: rgba(0, 3, 22, 0.87);
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
        a {
          font-size: 18px;
          line-height: 1.36;
          color: #f75804;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
          i {
            font-size: 18px;
            margin-left: 7px;
            @include breakpoint(xsml) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    width: 100%;
    /*border-top: 1px solid #ebebeb;*/
    padding: 0px 0 25px;
    justify-content: space-between;
    @include breakpoint(xxlarge) {
      padding: 0px 70px 20px;
    }
    @include breakpoint(laptop) {
      margin-top: 0px;
      padding: 0px;
    }
    @include breakpoint(medium) {
      display: none;
    }
    .col {
      width: calc(100% - 20px);
      margin-right: 18px;
      margin-left: 2px;
      border: 1px solid gray;
      padding: 30px 26px;
      @include breakpoint(xxlarge) {
        padding: 18px;
      }
      @include breakpoint(laptop) {
        padding: 18px;
      }
      figure {
        width: 180px;
        height: 168px;
        overflow: hidden;
        display: flex;
        justify-self: center;
        align-items: center;
        margin: 0 auto;
        @include breakpoint(xxlarge) {
          width: 147px;
          height: 138px;
        }
        @include breakpoint(laptop) {
          width: 115px;
          height: 100px;
        }
        img {
          width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
.previously-purchased {
  .slick-list.draggable {
    @include breakpoint(medium) {
      padding-right: 20%;
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }
    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      @include breakpoint(xsml) {
        padding: 12px 12px 10px;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 16px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 12px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .product {
    .product-wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid #d4d4d4;
      padding: 16px;
      figure {
        height: 170px;
        width: 100%;
        padding: 0 8px 0 7px;
        text-align: center;
        @include breakpoint(xlarge) {
          height: 150px;
        }
        img {
          width: auto;
          // object-fit: cover;
          object-position: center;
          height: 100%;
          border-radius: 10px;
          margin: 0px auto;
        }
      }
      .product-title {
        width: 100%;
        text-align: center;
        @include breakpoint(laptop) {
          margin-top: 10px;
        }
        span {
          font-size: 14px;
          line-height: 16px;
        }
      }
      .product-country {
        width: 100%;
        text-align: center;
        padding: 8px 10px;
        span {
          font-size: 16px;
          color: #66aa45;
        }
      }
      .product-details {
        width: 100%;
        text-align: center;
        display: flex;
        margin: 20px 0;
        @include breakpoint(xlarge) {
          margin: 8px 0;
        }
        @include breakpoint(laptop) {
          margin: 5px 0;
        }
        .product-price {
          display: grid;
          float: left;
          width: 50%;
          .price-dis {
            color: rgba(247, 88, 4, 0.87);
          }
          .price {
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        .product-quantity {
          float: right;
          width: 50%;
          span {
            vertical-align: sub;
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        span {
          font-size: 14px;
        }
      }
      .cart-section {
        margin-top: auto;
        width: 100%;
        text-align: center;
        padding: 16px 10px;
        @include breakpoint(xlarge) {
          padding: 8px 0;
        }
        .add-cart-btn {
          padding: 12px 0px;
          a {
            color: rgba(153, 153, 153, 0.87);
            font-size: 15px;
          }
        }
        .cart-qunatity {
          display: flex;
          align-items: center;
          &.qunatity_btn {
            background-color: #fff;
          }
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 80%;
            text-align: center;
            color: #000000;
            font-size: 22px;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-weight: bold;
            line-height: 25px;
            @include breakpoint(large) {
              font-size: 18px;
            }
          }
          a {
            width: 45px;
            height: 38px;
            background-color: #f75804;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            color: #fff;
            border-radius: 50%;
            @include breakpoint(xxlarge) {
              width: 40px;
              height: 33px;
            }
            @include breakpoint(large) {
              width: 29px;
              height: 28px;
            }
            i {
              font-size: 20px;
              @include breakpoint(large) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.product-wrapper {
  .product-details {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    @include breakpoint(xlarge) {
      margin: 8px 0;
    }
    @include breakpoint(laptop) {
      margin: 5px 0;
    }
    .product-price {
      display: grid;
      float: left;
      width: 50%;
      text-align: left;
      span {
        font-size: 13px;
      }
    }
    .product-quantity {
      float: right;
      width: 50%;
      text-align: right;
      span {
        vertical-align: sub;
        font-size: 13px;
        color: rgba(51, 51, 51, 0.87);
      }
    }
  }

  .cart-section {
    .cart-qunatity {
      a {
        @include breakpoint(xlarge) {
          width: 30px !important;
          height: 30px !important;
          padding: 0 9px !important;
        }
        @include breakpoint(laptop) {
          width: 25px !important;
          height: 25px !important;
        }
        i {
          @include breakpoint(xlarge) {
            font-size: 17px !important;
          }
          @include breakpoint(laptop) {
            font-size: 15px !important;
          }
        }
      }
      input {
        @include breakpoint(xlarge) {
          font-size: 17px !important;
        }
        width: 55px;
      }
    }
  }
}
.featured-tags {
  width: 100%;
  @include breakpoint(xxlarge) {
    padding: 0 30px;
  }
  @include breakpoint(laptop) {
    padding: 0 0px;
  }
  @include breakpoint(small) {
    .slick-list.draggable {
      padding-right: 5%;
    }
  }
  .container {
    @include breakpoint(large) {
      max-width: 100%;
      padding-left: 0px;
    }
    .slick-slide {
      @include breakpoint(small) {
        padding-right: 10px;
      }
      .cart-img {
        min-width: 230px;
        figure {
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }

    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 18px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 14px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.recommended-products {
  width: 100%;
  .slick-list.draggable {
    @include breakpoint(medium) {
      padding-right: 20%;
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }
    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      @include breakpoint(xsml) {
        padding: 12px 12px 10px;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 16px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 12px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .product {
    .product-wrapper {
      border: 1px solid #d4d4d4;
      padding: 16px;
      figure {
        height: 170px;
        width: 100%;
        padding: 0 8px 0 7px;
        text-align: center;
        @include breakpoint(xlarge) {
          height: 130px;
        }
        img {
          width: auto;
          object-fit: cover;
          object-position: center;
          height: 86%;
          border-radius: 10px;
          margin: 0px auto;
        }
      }
      .product-title {
        width: 100%;
        text-align: center;
        span {
          font-size: 14px;
        }
      }
      .product-country {
        width: 100%;
        text-align: center;
        padding: 8px 10px;
        span {
          font-size: 16px;
          color: #66aa45;
        }
      }
      .product-details {
        width: 100%;
        text-align: center;
        display: flex;
        margin: 20px 0;
        @include breakpoint(xlarge) {
          margin: 10px 0;
        }
        .product-price {
          display: grid;
          float: left;
          width: 50%;
          .price-dis {
            color: rgba(247, 88, 4, 0.87);
          }
          .price {
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        .product-quantity {
          float: right;
          width: 50%;
          span {
            vertical-align: sub;
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        span {
          font-size: 14px;
        }
      }
      .cart-section {
        width: 100%;
        text-align: center;
        padding: 16px 10px;
        @include breakpoint(xlarge) {
          padding: 8px 0;
        }
        .add-cart-btn {
          padding: 12px 0px;
          a {
            color: rgba(153, 153, 153, 0.87);
            font-size: 15px;
          }
        }
        .cart-qunatity {
          display: flex;
          align-items: center;
          border-radius: 5px;
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 45px;
            text-align: center;
            color: #000000;
            font-size: 22px;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-weight: bold;
            line-height: 25px;
            @include breakpoint(large) {
              font-size: 18px;
            }
          }
          a {
            width: 45px;
            height: 38px;
            // border-radius: 50%;
            background-color: #f75804;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            color: #fff;
            border-radius: 50%;
            @include breakpoint(xxlarge) {
              width: 40px;
              height: 33px;
            }
            @include breakpoint(large) {
              width: 29px;
              height: 28px;
            }
            i {
              font-size: 20px;
              @include breakpoint(large) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.dairy-eggs {
  .slick-list.draggable {
    @include breakpoint(medium) {
      padding-right: 20%;
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }

    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      @include breakpoint(xsml) {
        padding: 12px 12px 10px;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 16px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 12px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .product {
    .product-wrapper {
      border: 1px solid #d4d4d4;
      padding: 16px;
      figure {
        height: 170px;
        width: 100%;
        padding: 0 8px 0 7px;
        text-align: center;
        @include breakpoint(xlarge) {
          height: 130px;
        }
        img {
          width: auto;
          object-fit: cover;
          object-position: center;
          height: 86%;
          border-radius: 10px;
          margin: 0px auto;
        }
      }
      .product-title {
        width: 100%;
        text-align: center;
        span {
          font-size: 14px;
        }
      }
      .product-country {
        width: 100%;
        text-align: center;
        padding: 8px 10px;
        span {
          font-size: 16px;
          color: #66aa45;
        }
      }
      .product-details {
        width: 100%;
        text-align: center;
        display: flex;
        margin: 20px 0;
        @include breakpoint(xlarge) {
          margin: 10px 0;
        }
        .product-price {
          display: grid;
          float: left;
          width: 50%;
          .price-dis {
            color: rgba(247, 88, 4, 0.87);
          }
          .price {
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        .product-quantity {
          float: right;
          width: 50%;
          span {
            vertical-align: sub;
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        span {
          font-size: 14px;
        }
      }
      .cart-section {
        width: 100%;
        text-align: center;
        padding: 16px 10px;
        @include breakpoint(xlarge) {
          padding: 8px 0;
        }
        .add-cart-btn {
          padding: 12px 0px;
          a {
            color: rgba(153, 153, 153, 0.87);
            font-size: 15px;
          }
        }
        .cart-qunatity {
          display: flex;
          align-items: center;
          border-radius: 5px;
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 80%;
            text-align: center;
            color: #000000;
            font-size: 22px;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-weight: bold;
            line-height: 25px;
            @include breakpoint(large) {
              font-size: 18px;
            }
          }
          a {
            width: 45px;
            height: 38px;
            // border-radius: 50%;
            background-color: #f75804;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            color: #fff;
            border-radius: 50%;
            @include breakpoint(xxlarge) {
              width: 40px;
              height: 33px;
            }
            @include breakpoint(large) {
              width: 29px;
              height: 28px;
            }
            i {
              font-size: 20px;
              @include breakpoint(large) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.brands {
  padding: 0px 0px 20px 0px;
  @include breakpoint(medium) {
    padding: 0 40px 20px;
    display: none;
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }

    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 18px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 14px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    margin: 0px auto;
  }
  .product {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #b2b2b2;
  }
}
.arial {
  width: 100%;
  margin-bottom: 16px;
  display: none;
  .row {
    display: none;
    @include breakpoint(medium) {
      padding: 0 15px;
      display: block;
    }
    figure {
      width: 100%;
      img {
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
}

.beverages {
  .slick-list.draggable {
    @include breakpoint(medium) {
      padding-right: 20%;
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    // display: inline-block;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }

    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 14px 12px 10px;
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
      @include breakpoint(xsml) {
        padding: 12px 12px 10px;
      }
      p {
        font-size: 22px;
        font-weight: bold;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xsml) {
          font-size: 14px;
        }
      }
      a {
        font-size: 16px;
        line-height: 1.36;
        color: #f75804;
        @include breakpoint(xsml) {
          font-size: 12px;
        }
        i {
          font-size: 18px;
          margin-left: 7px;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .product {
    .product-wrapper {
      border: 1px solid #d4d4d4;
      padding: 16px;
      figure {
        height: 170px;
        width: 100%;
        padding: 0 8px 0 7px;
        text-align: center;
        @include breakpoint(xlarge) {
          height: 130px;
        }
        img {
          width: auto;
          object-fit: cover;
          object-position: center;
          height: 86%;
          border-radius: 10px;
          margin: 0px auto;
        }
      }
      .product-title {
        width: 100%;
        text-align: center;
        span {
          font-size: 14px;
        }
      }
      .product-country {
        width: 100%;
        text-align: center;
        padding: 8px 10px;
        span {
          font-size: 16px;
          color: #66aa45;
        }
      }
      .product-details {
        width: 100%;
        text-align: center;
        display: flex;
        margin: 20px 0;
        @include breakpoint(xlarge) {
          margin: 10px 0;
        }
        .product-price {
          display: grid;
          float: left;
          width: 50%;
          .price-dis {
            color: rgba(247, 88, 4, 0.87);
          }
          .price {
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        .product-quantity {
          float: right;
          width: 50%;
          span {
            vertical-align: sub;
            font-size: 13px;
            color: rgba(51, 51, 51, 0.87);
          }
        }
        span {
          font-size: 14px;
        }
      }
      .cart-section {
        width: 100%;
        text-align: center;
        padding: 16px 10px;
        @include breakpoint(xlarge) {
          padding: 8px 0;
        }
        .add-cart-btn {
          padding: 12px 0px;
          a {
            color: rgba(153, 153, 153, 0.87);
            font-size: 15px;
          }
        }
        .cart-qunatity {
          display: flex;
          align-items: center;
          border-radius: 5px;
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 80%;
            text-align: center;
            color: #000000;
            font-size: 22px;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-weight: bold;
            line-height: 25px;
            @include breakpoint(large) {
              font-size: 18px;
            }
          }
          a {
            width: 45px;
            height: 38px;
            // border-radius: 50%;
            background-color: #f75804;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            color: #fff;
            border-radius: 50%;
            @include breakpoint(xxlarge) {
              width: 40px;
              height: 33px;
            }
            @include breakpoint(large) {
              width: 29px;
              height: 28px;
            }
            i {
              font-size: 20px;
              @include breakpoint(large) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

/*------Customer----*/
.customer {
  width: 100%;
  margin-bottom: 117px;
  @include breakpoint(large) {
    // margin: 0 -10px;
  }
  @include breakpoint(large) {
    margin: 30px auto 0px;
    margin-bottom: 80px;
  }
  @include breakpoint(medium) {
    margin-bottom: 40px;
  }
  @include breakpoint(xsml) {
    margin-bottom: 19px;
  }
  .text {
    margin-top: 89px;
    text-align: center;
    @include breakpoint(xxxlarge) {
      // padding-left: 150px;
    }
    @include breakpoint(large) {
      margin-top: 40px;
    }
    @include breakpoint(medium) {
      padding: 0 20px 0 15px;
      margin-top: 20px;
      text-align: center;
    }
    @include breakpoint(xsml) {
      padding: 25px 0px 14px;
    }
    h2 {
      color: $color-text;
      @include breakpoint(large) {
        font-size: 30px;
      }
      @include breakpoint(xsml) {
        width: 100%;
      }
    }
    p {
      padding: 24px 0 49px;
      width: 600px;
      margin: 0 auto;
      font-weight: 600;
      @include breakpoint(medium) {
        width: 400px;
        padding: 20px 0 50px 30px;
        font-size: 15px;
      }
      @include breakpoint(xsml) {
        width: 100%;
        font-size: 14px;
      }
    }
  }
  /*--------Center Slider-----*/
  .center-slider {
    width: 100%;
    @include breakpoint(xxxlarge) {
      // padding: 0px 110px 0px 110px;
    }
    @include breakpoint(xxlarge) {
      // padding: 0px 100px 0px 100px;
    }
    @include breakpoint(xlarge) {
      // padding: 0px 40px 0px 45px;
    }
    @include breakpoint(medium) {
      padding: 0px 13px 0px 13px;
    }
    .slick-prev {
      z-index: 1;
      left: 0%;
      width: 48px;
      height: 48px;
      border: 1px solid #b1b1b1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      @include breakpoint(xxxlarge) {
        left: 0%;
      }
      @include breakpoint(xxlarge) {
        left: 6%;
      }
      @include breakpoint(xlarge) {
        left: 7%;
      }
      @include breakpoint(laptop) {
        left: 0%;
        width: 40px;
        height: 40px;
      }
      @include breakpoint(medium) {
        left: 16px;
        width: 30px;
        height: 30px;
      }
      &::after {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #000000;
      }
    }
    .slick-next {
      right: 0%;
      width: 48px;
      height: 48px;
      border: 1px solid #b1b1b1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      @include breakpoint(xxxlarge) {
        right: 0%;
      }
      @include breakpoint(xxlarge) {
        right: 6%;
      }
      @include breakpoint(xlarge) {
        right: 7%;
      }
      @include breakpoint(laptop) {
        right: 13%;
      }
      @include breakpoint(laptop) {
        right: 0px;
        width: 40px;
        height: 40px;
      }
      @include breakpoint(medium) {
        right: 7px;
        width: 30px;
        height: 30px;
      }
      &::after {
        content: "\f105";
        font-family: fontawesome;
        top: 50%;
        position: absolute;
        right: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
        color: #000000;
      }
    }
    .about-customer {
      margin-bottom: 33px;
      margin: 0 20px;
      @include breakpoint(laptop) {
        padding-right: 0px;
      }
      @include breakpoint(large) {
        margin: 0 10px;
      }
      figure {
        width: 300px;
        @include breakpoint(xxxlarge) {
          width: 250px;
        }
        @include breakpoint(laptop) {
          width: 200px;
        }
        @include breakpoint(xmedium) {
          width: 140px;
        }
      }
      .img-title {
        width: calc(100% - 300px);
        padding: 39px 28px 33px 39px;
        border: 1px solid #d4d4d4;
        display: flex;
        flex-direction: column;
        @include breakpoint(xxxlarge) {
          width: calc(100% - 250px);
        }
        @include breakpoint(laptop) {
          width: calc(100% - 200px);
          padding: 15px;
        }
        @include breakpoint(large) {
          padding: 20px;
        }
        @include breakpoint(xmedium) {
          width: calc(100% - 140px);
          padding: 12px;
        }
        span {
          margin-top: auto;
          text-align: right;
          font-weight: 900;
          @include breakpoint(xxlarge) {
            margin-right: 55px;
          }
          @include breakpoint(large) {
            margin-right: 25px;
          }
        }
        p {
          @include breakpoint(large) {
            font-size: 13px;
          }
          @include breakpoint(xmedium) {
            font-size: 11px;
          }
          @include breakpoint(xsml) {
            font-size: 10px;
          }
        }
      }
    }
  }

  /*--------Center Slider End-----*/

  /*--------Box Under of Center Slider-----*/
  .box {
    width: 1000px;
    margin: 30px auto 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background-color: #f5edcb;
    @include breakpoint(large) {
      width: 700px;
      margin: 30px auto 0px;
    }
    @include breakpoint(medium) {
      width: 500px;
      margin: 20px auto 0px;
    }
    @include breakpoint(xsml) {
      width: 340px;
      margin: 20px auto 0px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      @include breakpoint(xsml) {
        padding: 12px 0;
      }
      li {
        border-right: 2px solid #838482;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
        @include breakpoint(laptop) {
          padding-top: 20px;
        }
        &:first-of-type {
          figure {
            width: 96px;
            @include breakpoint(medium) {
              width: 60px;
            }
            @include breakpoint(xsml) {
              width: 46px;
            }
          }
        }
        &:nth-child(2) {
          width: 40%;
        }
        &:last-of-type {
          border-right: none;
        }
        figure {
          width: 60px;
          margin: 0 auto;
          @include breakpoint(medium) {
            width: 35px;
          }
          @include breakpoint(xsml) {
            width: 28px;
          }
        }
        h5 {
          text-align: center;
          padding-top: 19px;
          padding-bottom: 12px;
          @include breakpoint(medium) {
            padding: 19px 0 3px;
            font-size: 15px;
          }
          @include breakpoint(xsml) {
            font-size: 10px;
            padding: 9px 0 3px;
          }
        }
      }
    }
  }
}

.category_shop {
   width: 100%;
   display: none;
   @include breakpoint(medium) {
      display: block;
      ul {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 30px 10px;
         @include breakpoint(xsml) {
         padding: 10px 15px 10px;
         }
         li {
         p {
            font-size: 22px;
            font-weight: bold;
            color: rgba(0, 3, 22, 0.87);
            @include breakpoint(xsml) {
               font-size: 16px;
            }
         }
         a {
            font-size: 18px;
            line-height: 1.36;
            color: #f75804;
            @include breakpoint(xsml) {
               font-size: 14px;
            }
            i {
               font-size: 18px;
               margin-left: 7px;
               @include breakpoint(xsml) {
               font-size: 14px;
               }
            }
         }
         }
      }
      .row {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 0 26px;
         @include breakpoint(xsml) {
         padding: 0 15px;
         }
         .col {
         width: 32%;
         text-align: center;
         border-radius: 6px;
         border: none;
         background-color: #ffffff;
         padding: 7px 17px;
         margin-bottom: 9px;
         @include breakpoint(xmedium) {
            display: flex;
            align-items: center;
            justify-content: center;
         }
         @include breakpoint(small) {
            display: block;
         }
         @include breakpoint(small) {
            padding: 0px 0px 0px;
            border: unset;
         }
         @include breakpoint(xsml) {
            width: 24%;
            padding: 0px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         @include breakpoint(medium){
            width: 24%;
         }
         figure {
            width: 140px;
            height: 140px;
            margin: 0 auto;
            border: 2px solid #66aa45;
            border-radius: 6px;
            @include breakpoint(xsml) {
               width: 75px;
               height: 75px;
               padding: 0px 5px 7px;
            }
            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
               object-position: center;
               @include breakpoint(fxsml) {
                  height: 100px;
               }
               @include breakpoint(xsml){
                  height: 70px;
               }
               @include breakpoint(medium){
                  height: 70px;
               }
            }
            @include breakpoint(small) {
              width: 100%;
              border: 2px solid #66aa45;
              border-radius: 6px;
              padding: 10px 0;
            }
         }
         p {
            text-transform: uppercase;
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            color: #181818;
            height: 40px;
            background-color: unset;
            @include breakpoint(xsml) {
               font-size: 9px;
            }
            @include breakpoint(small) {
               padding: 10px 2px;
               font-size: 11px;
            }
         }
         a {
            @include breakpoint(small) {
               display: block;
            }
         }
         }
      }
   }
}
/*-------- End of Box Under of Center Slider-----*/
/*--------End of Customer Section-----*/
.slick-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0px;
  border: none;
  outline: none;
  z-index: 9;
  cursor: pointer;
}
/*--------Gift Section-----*/
.gift {
  width: 100%;
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 43px;
    @include breakpoint(xxxlarge) {
      padding: 0 20px 62px;
    }
    @include breakpoint(xxlarge) {
      padding: 0 73px 43px 90px;
    }
    @include breakpoint(laptop) {
      padding: 0 20px 43px 3px;
    }
    @include breakpoint(large) {
      padding: 0 20px 43px 3px;
    }
    @include breakpoint(medium) {
      padding: 0 25px 10px 13px;
    }
    @include breakpoint(xsml) {
      padding: 27px 33px 29px 130px;
    }
    a {
      color: $color-primary;
      @include breakpoint(xsml) {
        font-size: 10px;
      }
    }
    h4 {
      @include breakpoint(medium) {
        font-size: 24px;
      }
      @include breakpoint(xsml) {
        font-size: 18px;
      }
    }
  }
  .product {
    @include breakpoint(small) {
      padding-left: 12px;
    }
    .cart {
      .cart-col {
        .cart-img {
          width: 100%;
          height: 540px;
          @include breakpoint(xxlarge) {
            height: 480px;
          }
          @include breakpoint(xlarge) {
            height: 415px;
          }
          @include breakpoint(xmedium) {
            height: 365px;
          }
          .cart-btn {
            padding: 0 !important;
          }
        }
        @include breakpoint(medium) {
          .slick-list.draggable {
            padding-right: 20%;
          }
        }
      }
    }
    .slick-prev {
      z-index: 1;
      left: -30px;
      width: 48px;
      height: 48px;
      border: 1px solid #b1b1b1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      @include breakpoint(xxxlarge) {
        left: -5px;
      }
      @include breakpoint(xxlarge) {
        left: 68px;
      }
      @include breakpoint(xlarge) {
        left: 51px;
      }
      @include breakpoint(laptop) {
        left: -22px;
      }
      @include breakpoint(large) {
        width: 30px;
        height: 30px;
        margin: -40px 0 0;
        left: -16px;
      }
      @include breakpoint(medium) {
        left: 0px;
      }
      &::after {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #000000;
        @include breakpoint(large) {
          font-size: 15px;
        }
      }
    }
    .slick-next {
      right: -1%;
      width: 48px;
      height: 48px;
      border: 1px solid #b1b1b1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      @include breakpoint(xxxlarge) {
        right: 22px;
      }
      @include breakpoint(xxlarge) {
        right: 5%;
      }
      @include breakpoint(xlarge) {
        right: 5%;
      }
      @include breakpoint(laptop) {
        right: -1%;
      }
      @include breakpoint(large) {
        width: 30px;
        height: 30px;
        margin: -40px 0 0;
        right: -4px;
      }
      &::after {
        content: "\f105";
        font-family: fontawesome;
        top: 50%;
        position: absolute;
        right: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
        color: #000000;
        @include breakpoint(large) {
          font-size: 15px;
        }
      }
    }
  }
}
.blog {
  width: 100%;
  margin-bottom: 167px;
  @include breakpoint(xxxlarge) {
    padding: 0 125px;
  }
  @include breakpoint(xxlarge) {
    margin-top: 60px;
    margin-bottom: 130px;
    padding: 0 80px;
  }
  @include breakpoint(laptop) {
    padding: 0 1px;
  }
  @include breakpoint(large) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  @include breakpoint(xmedium) {
    margin-bottom: 60px;
  }
  @include breakpoint(small) {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  @include breakpoint(xsml) {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .text {
    margin: 118px 0 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(xxlarge) {
      margin: 70px 0 40px;
    }
    @include breakpoint(laptop) {
      margin: 30px 0;
    }
    h4 {
      @include breakpoint(laptop) {
        font-size: 26px;
      }
      @include breakpoint(xmedium) {
        font-size: 23px;
      }
      @include breakpoint(small) {
        font-size: 18px;
      }
    }
    a {
      @include breakpoint(small) {
        font-size: 14px;
      }
      @include breakpoint(xsml) {
        font-size: 12px;
      }
    }
  }
  .row {
    margin: 0 -35px;
    @include breakpoint(laptop) {
      margin: 0 -20px;
    }
    .blog-slider {
      .slick-slide {
        padding: 0 35px;
        @include breakpoint(laptop) {
          padding: 0 20px;
        }
      }
      p {
        font-size: 16px;
        @include breakpoint(large) {
          font-size: 14px;
        }
        @include breakpoint(small) {
          font-size: 12px;
        }
      }
      .slick-prev {
        z-index: 1;
        left: 1%;
        width: 48px;
        height: 48px;
        border: 1px solid #b1b1b1;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        @include breakpoint(laptop) {
          left: 0%;
        }
        @include breakpoint(large) {
          width: 30px;
          height: 30px;
          // left: 5%;
          margin: -17px 0 0;
        }
        @include breakpoint(xmedium) {
          // left: 6%;
        }
        @include breakpoint(medium) {
          left: 2%;
        }
        &::after {
          content: "\f104";
          font-family: fontawesome;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          color: #000000;
          @include breakpoint(large) {
            font-size: 15px;
          }
        }
      }
      .slick-next {
        right: 1%;
        width: 48px;
        height: 48px;
        border: 1px solid #b1b1b1;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        @include breakpoint(xxxlarge) {
          // right: 12%;
          margin: -21px 0 0;
        }
        @include breakpoint(laptop) {
          right: 0%;
        }
        @include breakpoint(large) {
          width: 30px;
          height: 30px;
          margin: -17px 0 0;
        }
        @include breakpoint(medium) {
          right: 2%;
        }
        &::after {
          content: "\f105";
          font-family: fontawesome;
          top: 50%;
          position: absolute;
          right: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          text-align: center;
          color: #000000;
          @include breakpoint(large) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.mobile-view {
  display: none;
  @include breakpoint(small) {
    display: block;
    .more-btn {
      padding: 30px 0 20px 10px;
    }
  }
}

.container {
  @include breakpoint(small) {
    width: 100%;
    padding-left: 2px;
  }
}
.mobileCata-slide {
  .container {
    @include breakpoint(small) {
      width: 100%;
      padding-left: 5px;
    }
    .cart {
      .cart-col {
        padding: 0;
        .draggable {
          padding-right: 20%;
        }
      }
    }
  }
}

.offer-section {
  width: 100%;
  padding-bottom: 70px;
  @include breakpoint(xxlarge) {
    padding-bottom: 40px;
  }
  @include breakpoint(laptop) {
    padding-bottom: 30px;
  }

  .slick-list.draggable {
    @include breakpoint(medium) {
      padding-right: 20%;
    }
  }
  @include breakpoint(xmedium) {
    padding-top: 0px;
  }
  @include breakpoint(medium) {
    text-align: left !important;
    // padding-left: 20px;
  }
  @include breakpoint(fxsml) {
    padding-left: 2px;
    padding-bottom: 0px;
  }
  .offer-row {
    justify-content: space-between;
    display: flex;
    width: 100%;
    @include breakpoint(xxxlarge) {
      padding: 0 20px;
    }
    @include breakpoint(xxlarge) {
      padding: 0 40px;
    }
    @include breakpoint(laptop) {
      padding: 0 0px;
    }
    @include breakpoint(small) {
      padding: 0 5px;
    }
    .col {
      width: 48% !important;
      position: relative;
      top: 0;
      cursor: pointer;
      transition: all 0.5s;
      &:hover h4 {
        color: #808080;
      }
      &:hover h6 {
        color: #808080;
      }
      @include breakpoint(small) {
        padding: 0 9px;
      }
      figure {
        width: 100% !important;
        padding-right: 30px;
        img {
          width: 100%;
          @include breakpoint(medium) {
            height: 300px;
          }
        }
      }
      .text {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  h4 {
    text-align: center;
    font-size: 34px;
    padding: 60px 0 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    &:hover {
      color: #808080;
    }
    @include breakpoint(xxlarge) {
      padding: 30px 0px !important;
      font-size: 22px;
    }
    @include breakpoint(xlarge) {
      padding: 20px 0 !important;
    }
    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(xsml) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ebebeb;
      bottom: 15px;
      left: 0;
      @include breakpoint(laptop) {
        bottom: 9px;
      }
    }
  }
  .offer_mobile {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        padding: 14px 12px 10px;
        display: none;
        @include breakpoint(medium) {
          display: block;
        }
        @include breakpoint(xsml) {
          padding: 12px 12px 10px;
        }
        p {
          font-size: 22px;
          font-weight: bold;
          color: rgba(0, 3, 22, 0.87);
          @include breakpoint(xsml) {
            font-size: 14px;
          }
        }
        a {
          font-size: 18px;
          line-height: 1.36;
          color: #f75804;
          @include breakpoint(xsml) {
            font-size: 14px;
          }
          i {
            font-size: 18px;
            margin-left: 7px;
            @include breakpoint(xsml) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .product {
    .offer-slider {
      width: 100%;
      ul {
        width: 100%;
        &.slick-dots {
          display: flex;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          li {
            padding: 0 4px;
            border: none;
            &:nth-child(1) {
              display: none;
            }
            button {
              outline: none;
              border: none;
              cursor: pointer;
              background-color: #000000;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              font-size: 0;
              transition: all 0.5s linear;
              display: block;
              &::before{
                display: none;
              }
            }
            &.slick-active {
              button {
                background-color: #66aa44;
                width: 20px;
                border-radius: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.slick-dots {
  li {
    button {
      &::before{
        display: none;
      }
    }
  }
}
.why-choose-us {
  // margin-top: 30px;
  @include breakpoint(medium) {
    display: none;
  }
  .container-wrapper {
    padding: 28px 33px 27px;
    border-radius: 5px;
    border: solid 1px #e8ebed;
    background-color: rgba(242, 242, 242, 0.61);
    @include breakpoint(xlarge) {
      padding: 0 23px;
    }
    @include breakpoint(large) {
      padding: 0 17px;
    }
    @include breakpoint(fxsml) {
      padding: 0 10px;
    }
    .heading {
      display: none;
      height: 38px;
      text-align: center;
      margin: 25px 0px;
      @include breakpoint(xxlarge) {
        margin: 20px 0;
      }
      @include breakpoint(laptop) {
        margin: 17px 0;
      }
      @include breakpoint(xmedium) {
        margin: 14px 0;
      }
      @include breakpoint(medium) {
        margin: 10px 0;
      }
      @include breakpoint(fxsml) {
        margin: 5px 0;
      }
      h3 {
        font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
        font-size: 29px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.34;
        letter-spacing: normal;
        color: rgba(0, 3, 22, 0.87);
        @include breakpoint(xxlarge) {
          font-size: 26px;
        }
        @include breakpoint(laptop) {
          font-size: 22px;
        }
        @include breakpoint(xmedium) {
          font-size: 18px;
        }
      }
    }
    .content-wrapper {
      display: flex;
      padding: 34px 0px;
      /*border-top: 1px solid #ebebeb;*/
      flex-wrap: wrap;
      @include breakpoint(xxlarge) {
        padding: 28px 0;
      }
      @include breakpoint(laptop) {
        padding: 22px 0;
      }
      @include breakpoint(xmedium) {
        padding: 16px 0;
        flex-wrap: wrap;
      }
      .box-content {
        display: flex;
        width: 25%;
        @include breakpoint(xmedium) {
          width: 50%;
          margin: 0 auto 40px auto;
          float: left;
        }
        @include breakpoint(fxsml) {
          margin: 0 auto 20px auto;
        }
        .box-icon {
          width: 67px;
          height: 66px;
          margin: 0 15px 0 0;
          padding: 18px 18.4px 18.8px 19.4px;
          border-radius: 10px;
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
          background-color: #66aa44;
          @include breakpoint(large) {
            width: 54px;
            height: 54px;
            padding: 14px;
            margin: 0 10px;
          }
          @include breakpoint(small) {
            width: 40px;
            height: 40px;
            padding: 11px;
            margin: 0 6px;
          }
          @include breakpoint(xsml) {
            width: 35px;
            height: 35px;
            padding: 7px;
            margin: 0 6px;
          }
        }
        .box-desc {
          h6 {
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.7;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 3, 22, 0.87);
            @include breakpoint(large) {
              font-size: 16px;
            }
            @include breakpoint(xmedium) {
              font-size: 14px;
            }
            @include breakpoint(fxsml) {
              font-size: 12px;
            }
            @include breakpoint(xsml) {
              font-size: 10px;
            }
          }
          p {
            font-family: "Nunito", "Roboto", "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.95;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 3, 22, 0.87);
            @include breakpoint(large) {
              font-size: 14px;
            }
            @include breakpoint(xmedium) {
              font-size: 12px;
            }
            @include breakpoint(fxsml) {
              font-size: 10px;
            }
            @include breakpoint(xsml) {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
.category {
  .why-choose-us {
    margin-bottom: 30px;
  }
}
select.control.products_attribute {
  float: right;
}
.offer-slider {
  width: 100%;
}
.offer-slider figure {
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  h4 {
    text-align: left !important;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .offer-slider figure {
    padding-right: 15px;
  }
}

.product-wrapper {
  border-radius: 8px;
}

@media screen and (max-width: 1450px) {
  .seller .product .cart .cart-col .cart-img .cart-btn button {
    padding: 6px 0;
    font-size: 12px;
  }
}
.cart-section {
  background-color: #66aa44;
  border-radius: 0px;
  padding: 4px !important;
}
@media screen and (max-width: 450px) {
  .product .product-wrapper {
    padding: 4px !important;
  }
  .product .product-wrapper .product-details span {
    font-size: 10px !important;
  }
  .product .product-wrapper .product-title span {
    font-size: 12px !important;
  }
  .product_item .product_item_mobile .product_about h3 {
    font-size: 14px !important;
  }
  .product_item .product_item_mobile .product_about ul li {
    font-size: 12px !important;
  }
}
.product {
  ::placeholder {
    color: #fff;
  }
}
.shop_brand {
  margin-bottom: 30px;
  .shop_title {
    h3 {
      @include breakpoint(laptop) {
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: 550px) {
  .category_shop .row .col figure {
    width: auto;
    height: auto;
  }
}

.cart-col {
  .slick-track {
    display: flex;
    .slick-slide {
      height: inherit !important;
      .product-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        .cart-section {
          margin-top: auto;
        }
      }
    }
  }
}

.slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.5s;
  @include breakpoint(xlarge) {
    width: 40px;
    height: 40px;
  }
  &:hover {
    background-color: #66aa44;
    &::after,
    &::before {
      color: #fff;
    }
  }
}
.slick-next {
  right: 0px;
  &::after {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000000;
  }
  &::before {
    display: none;
  }
}

.slick-prev {
  &::after {
    content: "\f104";
    font-family: fontawesome;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    color: #000000;
  }
  &::before {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pre-pro-slider .slick-prev {
    left: 0 !important;
  }
  .pre-pro-slider .slick-next {
    right: 25px !important;
  }
  .beverages {
    margin-bottom: 73px;
  }
}
