@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
.document-upload{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    h1,h2{
        @include Position(relative);
        @include Margin(0,0,30px,0);
        @include Padding(0,0,15px,0);
        font-size: 26px;
        &:after{
            content: "";
            @include Width(110px);
            @include Height(5px);
            @include Position(absolute);
            left: 0;
            bottom: 0;
            background-color:$dividerColor;
        }
    }
    ul{
        @include Margin(0,0,50px,0);
        li{
            @include Margin(0,0,25px,0);
        }
    }
    .add-primary{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @media(max-width:$smDevice){
            margin-bottom: 20px;
        }
        &:before{
            content:"+";
            color: $whiteColor;
            background-color: $primaryColor;
            @include Width(20px);
            @include Height(20px);
            @include Display(inline-block);
            line-height:20px;
            @include borderRadiusCommon(20px);
            @include Margin(0,10px,0,0);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            &:before{
                background-color: $whiteColor;
                color: $primaryColor;
            }
        }
    }
    .next-btn{
        @include buttonContained;
        img{
            transform:rotate(-90deg);
            @include Margin(0,0,0,7px);
            vertical-align: revert;
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
    }
    .back-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,20px,0,0);
        img{
            transform:rotate(90deg);
            @include Margin(0,10px,0,0);
            vertical-align: revert;
            filter: invert(1);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(0);
            }
        }
    }
}