@import './../../../../scss/abstracts/themeSrc.scss';
@import './../../../../scss/components/buttons.scss';
.respondent-info{
    box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
    @include PaddingCommon(40px);
    @include borderRadiusCommon(20px);
    .add-respondent{
        @include buttonContained;
        border-color: $primaryColor;
        color: $whiteColor;
        @include Margin(0,0,32px,0);
        img{
            @include Width(20px);
            vertical-align: -3px;
            @include Margin(0,5px,0,0);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
        }
    }
    .next-btn{
        @include buttonContained;
        img{
            transform:rotate(-90deg);
            @include Margin(0,0,0,2px);
            vertical-align: revert;
        }
        &:hover{
            img{
                filter: invert(1);
            }
        }
    }
    .back-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        @include Margin(0,20px,0,0);
        img{
            transform:rotate(90deg);
            @include Margin(0,5px,0,0);
            vertical-align: revert;
            filter: invert(1);
        }
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
            img{
                filter: invert(0);
            }
        }
    }
}