@import './../../../scss/abstracts/themeSrc.scss';
@import './../../../scss/components/buttons.scss';
@import './../../../scss/components/textField.scss';
.respond--modal{
    .btn-signin{
        @include buttonOutlined;
        @include Margin(15px,0,0,0);
        min-width: 180px;
    }
}