@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
.claim-container{
    .claim-tabs{
        .nav-link{
            width: 20%;
        }
    }
}
.claim-tabs{
    border:0;
    margin: 30px 0 30px 0;
    @include JustifyContent(center);
    background-color:$inputColor;
    box-shadow: 0px 1px 2.9px 0.1px rgba(0, 0, 0, 0.25);
    @include borderRadiusCommon(20px);
    .nav-link{
        @include borderRadiusCommon(0);
        @include MarginCommon(0);
        @include Width(16.6%);
        font-size: 16px;
        padding: 0.5rem 10px;
        text-align: $textCenter;
        font-weight: $fontWeight600;
        border:0;
        &:first-child{
            @include borderRadius(20px,0,0,20px);
        }
        &:last-child{
            @include borderRadius(0,20px,20px,0);
        }
        &.active,
        &.show{
            background-color:$primaryColor;
            color: $whiteColor;
        }
    }
}
.tab-content{
    @include Margin(0,0,50px,0);
}

.claim-list-table{
    .loadedContent > div{
        max-height: auto;
    }
}


.sc-dmlqKv{
    @include Margin(20px,0,20px,0);
    border-radius:0 !important;
    .kzgtIF,
    .bZUXHV{
        width: 100%;
        justify-content: space-between;
    }
    .gXlmGk{
        min-height: 47px;
    }
    .pagination{
        @include JustifyContent(center);
        @include Margin(20px,0,0,0);
        .page-item{
            .page-link{
                border:0;
                background-color:$inputColor;
                color: $primaryColor;
                font-size:15px;
                font-weight: $fontWeight700;
                @include Margin(0,10px,0,10px);
                @include borderRadiusCommon(10px);
            }
            &.active{
                .page-link{
                    background-color: $primaryColor;
                    color: $whiteColor;
                }
            }
        }
    }
    .rdt_Table{        
        box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.05);
        border: 1px solid $borderColor;   
        .kzgtIF{
            &:hover{
                color: $whiteColor;
                span{
                    opacity: 1;
                }
            }
        }  
        .gbMKfL{
            overflow:visible;
        }
        .huizgM{
            white-space: normal;
        }
        .rdt_TableCol{
            background-color:$primaryColor;
            color: $whiteColor;
            @include Position(relative);
            font-size: 15px;
            border-color: $borderColor;
        }
        .rdt_TableRow{       
            &:nth-of-type(odd){
                background-color:$whiteColor;
                border: 0;
            }
            &:nth-of-type(even){
                background-color:#e2e2e2;
                border: 0;
            }
            &:hover{
                background-color:#c1bdbd;
            }
            .rdt_TableCell{
                font-size: 15px;
                white-space: normal;
                border-top: 1px solid $borderColor;
                border-right: 1px solid $borderColor;
                padding-top: 10px;
                padding-bottom: 10px;
                &:last-child{
                    border-right: 0;
                }
            }
            .hPcKRQ div:first-child{
                white-space: normal;
                text-overflow: inherit;
                overflow: visible;
                .add-primary{
                    margin: 0;
                    min-width: auto;
                }
            }
            .rdt_TableCell{
                p{
                    &.text-truncate{
                        @include Width(200px);
                    }
                }
                &:first-child,
                &:last-child{
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .view-btn{
                    @include buttonContained;
                }
                img{
                    @include Margin(0,10px,3px,0);
                    cursor: pointer;
                }
                .add-secondary{
                    @include buttonOutlined;
                    border-color: $borderColor;
                    color: $primaryColor;
                    background-color:$inputColor;
                    &:before{
                        content:"+";
                        color: $primaryColor;
                        @include Margin(0,10px,0,0);
                    }
                    &:hover{
                        background-color:$inputColor;
                        border-color: $borderColor;
                    }
                }
            }
        }
    }
}