@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
footer{
    background-color: $primaryColor;
    color: $whiteColor;
    font-weight: $fontWeight400;
    @include Padding(25px,0,25px,0);
    @include breakPoints(767px){
        @include Padding(20px,0,20px,0);
    }
    ul{
        @include breakPoints(767px){
            @include Margin(10px,0,0,0);
        }
        li{
            @include Display(inline-block);
            border-right:1px solid $whiteColor;
            line-height: 14px;
            &:last-child{
                border-right: 0;
            }
            a{
                color: $whiteColor;
                @include Padding(0,20px,0,20px);
                &:hover{
                    text-decoration: $textUnderline;
                    color: $whiteColor;
                }
                @include breakPoints(991px){
                    @include Padding(0,15px,0,15px);
                } 
                @include breakPoints(767px){
                    @include Padding(0,10px,0,10px);
                }
                @media(max-width:$xxlDevice){
                    font-size: 14px;
                }
            }
            &:last-child{
                a{
                    @include Padding(0,0,0,20px);
                    @include breakPoints(991px){
                        @include Padding(0,0,0,15px);
                    }
                    @include breakPoints(767px){
                        @include Padding(0,0,0,10px);
                    }
                }
            }
        }
    }
    p{
        @media(max-width:$xxlDevice){
            font-size: 14px;
            font-weight: 400;
        }
    }
}