@import './../../../../scss/abstracts/themeSrc.scss';
@import './../../../../scss/components/buttons.scss';
.filter-field{
    background-color:$inputColor;
    box-shadow: 0px 1px 2.9px 0.1px rgba(0, 0, 0, 0.25);
    @include borderRadiusCommon(20px);
    @include Display(flex);
    @include PaddingCommon(10px);
    @include alignItem(center);
    @include JustifyContent(space-between);
    &.filter-button{
        background: $transparent;
        box-shadow: none;
        @include Display(inline-block);
        margin-top: 20px;
        @include Width(100%);
    }
    @media(max-width:$mdDevice){
        @include flexDirection(column);
    }
    label{
        font-weight: $fontWeight700;
        font-size: 16px;
    }
    .form-control{
        background-color:$whiteColor;
        @include Height(35px);
        @include Width(140px);
        font-size: 14px;
        @include Margin(0,8px,0,8px); 
        @media(max-width:$mdDevice){
            @include Width(100%);
            @include Margin(0,0,10px,0);
        }   
    }
    .submit-btn{
        @include buttonContained;
        min-width: 100px;
        @include Margin(0,10px,0,10px);
        @media(max-width:$mdDevice){
            @include Width(48%);
            @include Margin(0,5px,10px,0);
        } 
    }
    .clear-btn{
        @include buttonOutlined;
        border-color: $primaryColor;
        color: $primaryColor;
        min-width: 100px;
        @media(max-width:$mdDevice){
            @include Width(48%);
            @include Margin(0,0,10px,5px);
        } 
        &:hover{
            background-color: $primaryColor;
            color: $whiteColor;
        }
    }
}
     
.form-control.sort-by{
    background-color: $primaryColor !important;
    color: $whiteColor !important;
    @include Margin(5px,0,0,0);
    @include borderRadiusCommon(20px);
    background-image: url(./../../../../assets/images/dropdown.png) !important;
}