@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
@import './../../scss/components/textField.scss';
.login--modal{
    .forgot-link{
        color: $inputColor;
        text-decoration: $textUnderline;
        font-size: 12px;
        &:hover{
            text-decoration: $textUnderlineNone;
        }
    }
    .btn-signin{
        @include buttonOutlined;
        @include Margin(30px,0,0,0);
        @include Display(block);
    }
    .or{
        color: $whiteColor;
        font-size: 16px;
        @include Position(relative);
        @include Margin(35px,0,25px,0);
        &:after,
        &:before{
            content:'';
            background-color:$whiteColor;
            @include Height(1px);
            @include Width(45%);
            left: 0;
            @include Position(absolute);
            top: 10px;
            @include breakPoints(576px){
                @include Width(43%);
            }
        }
        &:after{
            right: 0;
            left: auto;
        }

        @media(max-width:$xxlDevice){
            @include Margin(18px,0,18px,0);
        }
    }
    h4{
        color: $whiteColor;
        font-size: 20px;
        @media(max-width:$xxlDevice){
            font-size: 18px;
        }
    }
    .otp-button-group{
        .btn-signin{
            @include Display(inline-block);
            @include Margin(30px,10px,0,10px);
            @include breakPoints(576px){
                @include Margin(10px,auto,0,auto);
                @include Display(block);
            }
        }
    }
}