footer{
   width: 100%;
   background-color: transparent;
   padding: 0 140px 0 130px;
   @include breakpoint(xxlarge){
      padding: 0 80px 0 70px;
   }
   @include breakpoint(large){
      padding: 0 0px 0px 0px;
   }
    @include breakpoint(medium){ 
      padding-left: 0px;
    }
    .grocery_store{
       width: 100%;
       @include breakpoint(xmedium){
          display: none;
       }
       .container{
          @include breakpoint(small){
             padding: 0 15px;
          }
       }
       .row_store{
          width: 100%;
          border: 1px solid #000000;
          padding: 10px 20px;
          span{
             color: #66aa45;
             font-weight: 600;
          }
          h4{
             font-size: 24px;
             font-weight: normal;
          }
          p{
            padding-top: 10px;
            color: #6c757d;
            font-size: 20px;
            font-weight: normal; 
            text-align: left;
            @include breakpoint(xxlarge){
               font-size: 18px;
            }
            @include breakpoint(laptop){
               font-size: 16px;
            }
          }
          ul{
             padding: 20px 0;
             @include breakpoint(laptop){
                 padding: 10px 0;
             }
             h6{
                  font-size: 18px;
                  font-weight: 300;
                  @include breakpoint(laptop){
                     font-size: 16px;
                  }
                  @include breakpoint(large){
                     font-size: 14px;
                  }
                  @include breakpoint(medium){
                     font-size: 12px;
                  }
             }
             li{
               padding: 10px 0 10px 30px;
               color: #6c757d;
               font-size: 20px;
               font-weight: normal; 
               text-align: left;
               position: relative;
               @include breakpoint(laptop){
                  padding: 8px 0 8px 20px;
               }
               &::after{
                  position: absolute;
                  top: 26px ;
                  left: 0px;
                  content: "";
                  width: 10px ;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #000000;

               }
               @include breakpoint(xxlarge){
                  font-size: 18px;
               }
               @include breakpoint(laptop){
                  font-size: 16px;
               }
               @include breakpoint(large){
                  font-size: 14px;
               }
               @include breakpoint(xmedium){
                  font-size: 12px;
               }
               @include breakpoint(medium){
                  font-size: 10px;
               }
             }
          }
       }
    }
   p{
      padding-top: 30px;
      color: #6c757d;
      text-align: center;
      width: 100%;
      font-size: 16px;
      padding-bottom: 30px;
      font-weight: normal;
      @include breakpoint(laptop){
         font-size: 14px;
       }
      @include breakpoint(small){
         text-align: center;
         padding-bottom: 13px;
      }
      @include breakpoint(xsml){
         font-size: 12px;
         padding-top: 20px;
         text-align: center;
       }
   }
   .row{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 72px 0 30px;
      &.footer-top-row{
         @include breakpoint(medium){
            display: none;
         }
      }
      &.footer-bottom-row{
         padding: 40px 0 30px;
         border-top: 1px solid #f2f2f2;
         border-bottom: 1px solid #f2f2f2;
         @include breakpoint(medium){
            display: none;
         }
      }
      @include breakpoint(medium){
         width: 100%;
         flex-wrap: wrap;
         justify-content: center;
         padding: 30px;
      }
      @include breakpoint(xsml){
         padding: 20px;
      }
      .col{
         width: 25%;
         @include breakpoint(large){
            width: 22%;
         }
         @include breakpoint(small){
            width: 50%;

         }
         @include breakpoint(xsml){
            width: 50%;
         }
            a{
               width: 254px;
               color: #808080 !important;
               font-size: 16px;
               @include breakpoint(xxlarge){
                  width: 180px;
               }
               @include breakpoint(xmedium){
                  width: 120px;
               }
            }
            ul{
               padding: 0px;
               @include breakpoint(xmedium){
                  padding: 20px 0;
               }
               li{
                  padding-top: 10px;
               }
            }
           
      }
      .about{
         width: 17.6%;
         margin: 0  auto;
         @include breakpoint(small){
            width: 50%;
         }
         @include breakpoint(xsml){
            width: 50%;
         }
            ul{
               li{
                  padding-top: 10px;
               }
            }
      }
      h6{
         color: #000;
         padding-bottom: 12px;
         text-align: center;
         @include breakpoint(xmedium){
            font-size: 14px;
            padding-bottom: 12px;
         }
         @include breakpoint(xsml){
            padding-right: 17px;
         }
      }
      .service{
         width: 17.6%;
         margin: 0  auto;
         @include breakpoint(large){
            width: 21%;
         }
         @include breakpoint(small){
            width: 50%;
            padding-top: 40px;
         }
         @include breakpoint(xsml){
            width: 59%;
            padding-top: 21px;
         }
         ul{
            li{
               padding-top: 10px;
               @include breakpoint(xxlarge){
                  padding-left: 0;
               }
               @include breakpoint(small){
                  padding-left: 0px;
               }
            }
         }
      }
      .categorie{
         margin: 0  auto;
         width: 17.6%;
         @include breakpoint(xxlarge){
            padding-left: 40px;
         }
         @include breakpoint(xmedium){
            padding-left: 20px;
         }
         @include breakpoint(small){
            width: 50%;
            padding-top: 50px;
            padding-left: 1px;
         }
         @include breakpoint(xsml){
            padding: 21px 0 0;
            width: 41%;
         }
         ul{
            li{
               padding-top: 10px;
               @include breakpoint(xmedium){
                  padding-top: 8px;
               }
            }
         }
      }
      a{
         color: #808080 !important;
         font-size: 16px;
         @include breakpoint(xmedium){
            font-size: 13px;
         }
      }
   }
   .footer-top-row{
      div{
         h6{
            text-align: left;
         }
      }
   }
   .footer-discription{
      border-top: 1px solid #f2f2f2;
      padding: 40px 50px 20px 85px;
      @include breakpoint(xmedium){
         padding: 30px 50px 20px 65px;
         display: none;
      }
      @include breakpoint(small){
         padding: 30px 15px 30px 15px;
      }
      @include breakpoint(medium){
         margin-top: 30px;
      }
      li{
         display: flex;
         margin-bottom: 30px;
         @include breakpoint(small){
            flex-direction: column;
         }
         h5{
            width: 18%;
            font-size: 14px;
            color: #66aa45;
            @include breakpoint(small){
               width: 100%;
               margin-bottom: 10px;
            }
         }
         span{
            width: 82%;
            margin-top: -4px;
            @include breakpoint(small){
               width: 100%;
               margin-top: 0;
            }
               a{
                  font-size: 13px;
                   margin-right: 5px;
                   color: #808080;
                   transition: all 0.3s;
                   &:hover{
                      color: #66aa45;
                   }
               }
         }
      }
   }
   .footer-bottom-row{
     
      .social-icon{
         width: 100%;
         margin: 0  auto;
         display: flex;
         @include breakpoint(xmedium){
            flex-direction: column;
         }
         @include breakpoint(medium){
            width: 50%;
            padding-top: 50px;
         }
         @include breakpoint(small){
            width: 100%;
            padding-top: 55px;
         }
         ul{
            display: flex;
            align-items: center;
            li{
               padding-right: 58px;
               @include breakpoint(xxlarge){
                  padding-right: 40px;
               }
               @include breakpoint(large){
                  padding-right: 20px;
               }
              
               &:last-of-type{
                  padding-right: 0px;
               }
                  a{
                     font-size: 40px;
                     color: #000 !important;
                     @include breakpoint(large){
                        font-size: 30px;
                     }
                      @include breakpoint(xmedium){
                        font-size: 30px;
                     }
                     @include breakpoint(medium){
                        font-size: 40px;
                        padding-left: 8px;
                     }
                     @include breakpoint(medium){
                        font-size: 30px;
                        padding-left: 1px;
                     }
                  }
            }
         }
         .app{
            margin: 0px auto;
            padding: 0;
            @include breakpoint(xxlarge){
               padding: 0px;
            }
            @include breakpoint(large){
               padding: 0px;
            }
            @include breakpoint(small){
               padding: 0;
            }
            @include breakpoint(xsml){
               padding: 0;
            }

            ul{
               display: flex;
               align-items: center;
               justify-content: center;
               @include breakpoint(small){
                  justify-content: start;
               }
               li{
                  padding: 10px;
                  @include breakpoint(medium){
                     padding: 0 10px 0 0;
                  }
                  &:last-of-type{
                     padding-right: 0px;
                  }
               }
            }
         }
         .pay-card{
            margin: 0px auto;
            @include breakpoint(xmedium){
               padding-bottom: 20px;
            }
            ul{
               li{
                  padding: 0 10px 0 0;
               }
            }
         }
         .social_media_section{
            margin: 0px auto;
            @include breakpoint(xmedium){
               padding-top: 20px;
            }
            li{
               padding-right: 14px;
               @include breakpoint(xxlarge){
                  padding-right: 14px;
               }
               @include breakpoint(large){
                  padding-right: 18px;
               }
               .fa-facebook{
                  &::before{
                     color: #1a78f4;
                     font-size: 20px;
                     border: 1px solid #f2f2f2;
                     padding: 5px 8px;
                     border-radius: 4px;
                  }
               }
               .fa-twitter{
                  &::before{
                     color: #1da1f2;
                     font-size: 20px;
                     border: 1px solid #f2f2f2;
                     padding: 5px 8px;
                     border-radius: 4px;
                  }
               }
               .fa-instagram{
                  &::before{
                     color: #f30072;
                     font-size: 20px;
                     border: 1px solid #f2f2f2;
                     padding: 5px 8px;
                     border-radius: 4px;
                  }
               }
               .fa-youtube-play{
                  &::before{
                     color: #dc4e41;
                     font-size: 20px;
                     border: 1px solid #f2f2f2;
                     padding: 5px 8px;
                     border-radius: 4px;
                  }
               }
            }
         }
      }
   }
   p{
      @include breakpoint(medium){
         display: none;
      }
   }
}


footer{
   width: 100%;
   &.mobile_footer{
      display: none;
      @include breakpoint(medium){
         width: 100%;
         display: block;
         padding: 12px 20px;
         // background-image: linear-gradient(to left, #e9eceeed, #cbc7c7);
         position: fixed;
         bottom: 0px;
         background-color: #fff;
         border-radius: 6px;   
         z-index: 99;      
      }
      @include breakpoint(small){
         padding: 12px 0px;
      }
      .footer-menu{
         ul{
            @include breakpoint(medium){
               display: flex;
               justify-content: center;
            }
            li{
               
               @include breakpoint(medium){
                  text-align: center;
                  width: 20%;
               }
               &:hover{
                  a{
                     @include breakpoint(medium){
                        color: #66aa45;
                     }
                  }
               }
               a{
                  @include breakpoint(medium){
                     display: block;
                     color: #8C8C8C;
                     &.active{
                        color: #66aa45;
                     }
                  }
                  i{
                     @include breakpoint(medium){
                        font-size: 20px;
                     }
                  }
                  span{
                     @include breakpoint(medium){
                        font-size: 12px;
                     }
                  }
               }
            }
         }
      }
   }
}