header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
   background-color:#66aa45;
   padding: 0 110px 0 92px;
   @include breakpoint(xxlarge){
      padding: 0 40px;
   }
   @include breakpoint(xmedium){
      padding: 0 29px 0 24px;
   }
   @include breakpoint(xsml){
      padding: 0 10px; 
   }
   .main_header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left_header{
         width: 10%;
         @include breakpoint(medium){
            width: 100%;
            display: flex;
            align-items: center;
         }
         .logo{
            width: 100%;
            @include breakpoint(medium){
               width: 20%;
            }
         }
         .search_area{
            margin-left: 10px;
            width: 80%;
            display: none;
            @include breakpoint(medium){
               display: block;
            }
            @include breakpoint(xsml){
               margin-left: 10px;
            }
            
            .example{
               border-radius: 30px;
               background: red;
               background-color: rgba(255, 255, 255, 0.3);
               padding: 10px;
               outline: none;
               border: none;
               @include breakpoint(xlarge){
                  padding: 5px;
               }
               input[type="search"] {
                  border: none;
                  outline: none;
                  background: transparent;
                  font-size: 16px;
                  color: #fff;
                  width: 80%;
                  font-family: 'Nunito', "Roboto", 'Open Sans', sans-serif;
                  @include breakpoint(xlarge){
                     font-size: 12px;
                  }
                  @include breakpoint(xmedium){
                     font-size: 10px;
                  }
                  &::placeholder{
                     color: #fff;
                  }
                  @include breakpoint(xsml){
                     width: 89%;
                     font-size: 12px !important;
                  }
               }
               button {
                  border: none;
                  outline: none;
                  background: transparent;
                  color: #fff;
                  font-size: 16px;
                  margin: 0 2%;
                  width: 4%;
                  @include breakpoint(xlarge){
                     font-size: 12px;
                  }
                  @include breakpoint(small){
                     font-size: 14px;
                  }
              }
            }
         }
      }
      .right_header{
         width: 90%;
         @include breakpoint(xmedium){
            width: 89%;
         }
         @include breakpoint(medium){
            width: 85%;
            display: none;
         }
        
         .top_header{
            width: 100%;
            // margin: 12px 0 15px;
            position: relative;
            .mobile_menu_{
               display: none;
               @include breakpoint(medium){
                  display: block;
                  ul{
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     li{
                        .toggle{
                           width: 30px;
                           display: none;
                           @include breakpoint(xmedium){
                              display: block;
                           }
                           span{
                              width: 100%;
                              height: 4px;
                              background-color: #000;
                              margin-bottom: 3px;
                              display: block;
                              transition: all 0.5s;
                              position: relative;
                              &:last-of-type{
                                 margin-bottom: 0;
                              }
                              
                           }
                           &.active{
                              span{
                                 &:first-of-type{
                                    transform: rotate(45deg);
                                    top: 2px;
                                 }
                                 &:last-of-type{
                                    transform: rotate(-45deg);
                                    top: -2px;
                                 }
                                 &:nth-child(2){
                                    display: none;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }

         .search_section{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search_left{
               width: 38%;
               @include breakpoint(xlarge){
                  width: 40%;
               }
               @include breakpoint(large){
                  width: 36%;
               }
               @include breakpoint(xmedium){
                  width: 32%;
               }
               @include breakpoint(fxsml){
                  width: 100%;
               }
               .example{
                  position: relative;
                  display: inline-block;
                  width: 100%;
                  background: #fff;
                  border-radius: 4px;
                  border: solid 1px rgba(148, 196, 125, 0.5);
                  background-color: #ffffff;
                  margin: 16px 0;
                  @include breakpoint(xxlarge){
                     margin: 10px 0; 
                  }
                  @include breakpoint(large){
                     margin: 15px 0; 
                  }
                  button {
                     border: none;
                     outline: none;
                     background: transparent;
                     font-size: 23px;
                     padding: 10px 0;
                     margin: 0 12px;
                     @include breakpoint(xxlarge){
                        font-size: 17px;
                     }
                     @include breakpoint(laptop){
                        font-size: 15px;
                     }
                     @include breakpoint(large){
                        font-size: 13px;
                        padding: 7px 0;
                     }
                     @include breakpoint(fxsml){
                        font-size: 12px;
                        padding: 4px 0;
                     }
                  }
                  input[type="search"] {
                     border: none;
                     outline: none;
                     background: transparent;
                     font-size: 23px;
                     padding: 10px  0;
                     width: 80%;
                     @include breakpoint(xxlarge){
                        font-size: 17px;
                     }
                     @include breakpoint(laptop){
                        font-size: 15px;
                     }
                     @include breakpoint(large){
                        font-size: 12px;
                     }
                     @include breakpoint(fxsml){
                        font-size: 12px;
                        padding: 4px 0;
                     }
                  }
               }
            }
            .search_right{
               width: auto;
               @include breakpoint(medium){
                  display: none;
               }
               ul{
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  margin-right: -30px;
                  @include breakpoint(xxlarge){
                     margin-right: -20px;
                  }
                  li{
                     display: flex;
                     align-items: center;
                     font-size: 23px;
                     font-family: "Nunito", "Open Sans", sans-serif;
                     line-height: 0.78;
                     padding-right: 30px;
                     @include breakpoint(xxxlarge){
                        font-size: 18px;
                     }
                     @include breakpoint(xxlarge){
                        font-size: 17px;
                        padding-right: 20px;
                     }
                     @include breakpoint(laptop){
                        font-size: 15px;
                        padding-right: 10px;
                     }
                     @include breakpoint(large){
                        font-size: 11px;
                     }
                     @include breakpoint(xmedium){
                        font-size: 12px;
                        padding-right: 4px;
                     }
                     &.phone-number{
                        &.whatsapp{
                           padding-left:0;
                        }
                        @include breakpoint(xmedium){
                           padding-right: 0;
                           a{
                              font-size: 0;
                              i{
                                 font-size: 15px;
                              }
                           }
                        }
                        span{
                           background: #fff;
                           width: 30px;
                           height: 30px;
                           justify-content: center;
                           display: flex;
                           align-items: center;
                           border-radius: 50%;
                           /* margin-right: 10px;*/
                           @include breakpoint(laptop){
                              width: 25px;
                              height: 25px;
                           }
                           @include breakpoint(large){
                              margin-right: 5px;
                           }
                           @include breakpoint(xmedium){
                              width: 20px;
                              height: 20px;
                              margin-right: 0;
                           }
                           i{
                              color: #66aa45;
                              font-size: 19px;
                              @include breakpoint(laptop){
                                 font-size: 15px;
                              }
                           }
                        }
                     }
                     &.delivery{
                        figure{
                           width:24px;
                        }
                     }
                     a{
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        
                     }
                     figure{
                        display: inline-block;
                        width: 25px;
                        margin-right: 10px;
                        @include breakpoint(xxlarge){
                           width: 17px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
   
   &.header-fix {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0,0,0,.17);
      background-color: #66aa45;
   }
   .mobile-nav{
      display: none;
         @include breakpoint(small){
            position: fixed;
            width: 70%;
            // height: 100vh;
            height: 100%;
            top: 0px;
            z-index: 9999;
            background: #fff;
            box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.21);
            left: -100%;
            transition: all .5s;
            display: block;
         }
         .mobile-logo{
            width: 90px;
            text-align: center;
            margin: 20px auto;
            img{
               object-fit: cover;
               width: 100%;
            }
         }
         .social-icon{
            margin: 24px 0 14px;
              .mobilecontact{
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 20px 0;
               background-color: #f5edcb;
               a{
                  font-size: 16px;
                  color: #000000;
                  @include breakpoint(xsml){
                     font-size: 12px;
                  }
                  i{
                     color: rgb(215, 116, 66);
                     font-size: 20px;
                     padding-left: 10px;
                     @include breakpoint(xsml){
                        font-size: 16px;
                     }
                  }
               }
            }
            ul{
               display: flex;
               justify-content: space-around;
               align-items: center;
               flex-direction: row;
                  li{
                     padding-right: 20px;
                     a{
                        font-size: 24px;
                        
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        i{
                           color: #67a830;
                        }
                     }
                  }
            }
            p{
               text-align: center;
               font-size: 9px;
               margin: 14px 0;
            }
         }
         .cross-toggle{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 20px;
            cursor: pointer;
            right: 10px;
            z-index: 11111;
            figure{
               width: 20px;
               height: 30px;
            }
         }
         &.nav-active{
            left: 0;
            overflow: auto;
         }
         ul{
            display: block;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: column;
            padding-left: 35px;
            li{
               padding: 10px 0 0;
               font-size: 12px;
               a{
                  color: #303438;
               }
               h3{
                  font-size: 14px;
                  margin-top: 24px;
               }
            }
         }
   }
   
   .logo{
      padding: 6px 0;
      @include breakpoint(xmedium){
         padding: 25px 0;
      }
      @include breakpoint(small){
         margin: 0 auto;
      }
      a{
         @include breakpoint(xxlarge){
            width: 90px;
         }
         @include breakpoint(laptop){
            width: 80px;
         }
         @include breakpoint(laptop){
            width: 70px;
         }
         @include breakpoint(fxsml){
            width: 70px;
         }
         @include breakpoint(xsml){
            width: 60px;
         }
         figure{
            width: 100%;
         }
      }
   }
   nav{ 
      display: flex;
      margin-left: auto;
      ul{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;
         height: 100%;
         @include breakpoint(medium){
            display: none;
         }
         li{
            padding: 0 25px;
            @include breakpoint(xxlarge){
               padding: 0 20px;
            }
            @include breakpoint(laptop){
               padding: 0 10px;
            }
            @include breakpoint(large){
               padding: 0 8px;
            }
            &:last-of-type{
               padding-right: 0;
               @include breakpoint(xmedium){
                  display: none;
               }
            }
            a{
               color: #fff;
               font-size: 16px;
               font-weight: 500;
               font-style: normal;
               line-height: 37px;
               cursor: pointer;
               @include breakpoint(large){
                  font-size: 14px;
               }
               i{
                  color: #d77442;
                  padding-left: 20px;
               }
            }
         }
      }
   }
   .toggle{
      width: 30px;
      display: none;
      @include breakpoint(small){
         display: block;
      }
      span{
         width: 100%;
         height: 4px;
         background-color: #000;
         margin-bottom: 3px;
         display: block;
         &:last-of-type{
            margin-bottom: 0;
         }
      }
   }
   .icon{
      margin-left: auto;
      @include breakpoint(xmedium){
         padding-left: 0;
      }
      @include breakpoint(small){
         li{
            display: none;
            &:nth-of-type(2){
               display: block;
            }
         }
      }
      &.left-icon{
         display: none;
         @include breakpoint(small){
            display: block;
            font-size: 20px;
            ul{
               li{
                  @include breakpoint(small){
                     display: block;
                  }
                  a{
                     color: green;
                     i{
                        color: #008000;
                     }
                  }
               }
            }
         }
      }
      &.right-icon {
         display: none;
         @include breakpoint(small){
            display: block;
            font-size: 20px;
            li{
               display: block;
            }
         }
      }
   }
   ul{
      display: flex;
      align-items: center;
      li{
         padding: 0 10px;
         a{
            color: #bcd9a3;
         }
         &:first-of-type{
            .search_field{
            position: absolute;
            width: 100%;
            left: 0;
            top: 58px;
            z-index: 9;
            padding: 20px 40px;
            background-color: #fff;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            display: flex;
            justify-content: center;
            @include breakpoint(small){
               padding: 13px 40px;
            }
            .serch-bar{
               padding: 10px;
               width: 400px;
               border: 1px solid #67a830;
               outline: none;
               box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
               background-color: #ffffff;
               border-radius: 4px;
               display: none;
               @include breakpoint(small){
                  width: 300px;
               }
               @include breakpoint(xsml){
                  width: 181px;
                  padding: 6px;
               }
            }
            }
         }
         &.user_login{
            &:hover{
               .dropdown{
                  visibility: visible;
                  opacity: 1;
                  z-index: 55;
               }
            //  .triangle{
            //     width: 0px;
            //     height: 0px;
            //     border: solid 10px;
            //     border-color: transparent transparent black transparent;
            //  }
            }
         }
         ul{
            position: fixed;
            width: 170px;
            top: 20px;
            right: 40px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.29);

            background-color: #ffffff;
            &.dropdown{
               position: absolute;
               top: 39px;
               box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.29);
               background-color: #ffffff;
               z-index: 11111;
               right: 0px;
               display: flex;
               justify-content: center;
               flex-direction: column;
               visibility: hidden;
               opacity: 1;
            //   &::after{
            //      content: "";
            //      height: 20px;
            //      position: absolute;
            //      top: 20px;
            //      right: 30px;
            //      width: 20px;
            //      border-style: solid;
            //      border-width: 0 25px 25px;
            //      border-color: transparent transparent red transparent;
            //   }
               li{
                  a{
                  padding: 10px 0;
                  }
                  
               }
            }
         }
      }
   }
}

.main_menu{
   background: #f7fff2;
   position: fixed;
   z-index: 1111;
   top: 82px;
   left: 0;
   right: 0;
   width: 100%;
   scroll-behavior: smooth;
   @include breakpoint(xxxlarge){
      top: 80px;
   }
   @include breakpoint(xlarge){
      top: 64px;
   }
   @include breakpoint(laptop){
      top: 58px;
   }
   @include breakpoint(xmedium){
      top: 90px;
   }
   @include breakpoint(medium){
      display: none;
      top: 80px;
   }
   // @include breakpoint(xxlarge){
   //    top: 98px;
   // }
   // @include breakpoint(laptop){
   //    top: 94px;
   // }
   // @include breakpoint(large){
   //    top: 88px;
   // }
   nav{
      ul{
         display: flex;
         padding: 0px 90px;
         justify-content: space-between; 
         align-items: center;
         @include breakpoint(xxlarge){
            padding: 0px 35px 0px 45px;
         }
         @include breakpoint(laptop){
            padding: 0px  16px 0px 35px;
         }
         @include breakpoint(xmedium){
            padding: 0px 10px 0px 10px;
         }
            @include breakpoint(medium){
               align-items: flex-end;
               flex-direction: column;
            }
         li{
            margin-right: 22px;
            @include breakpoint(xxlarge){
               margin-right: 20px;
            }
            @include breakpoint(xmedium){
               margin-right: 7px;
            }
            @include breakpoint(medium){
               margin-right: 20px;
               padding: 5px 0;
            }
            a{
               color: #000;
               font-family: "Nunito";
               font-size: 20px;
               font-weight: 600;
               line-height: 20px;
               padding: 12px 0;
               @include breakpoint(xxxlarge){
                  font-size: 17px;
               }
               @include breakpoint(xxlarge){
                  font-size: 15px;
               }
               @include breakpoint(laptop){
                  font-size: 14px;
               }
               @include breakpoint(large){
                  font-size: 10px;
               }
               @include breakpoint(xmedium){
                  font-size: 9px;
               }
               @include breakpoint(medium){
                  font-size: 12px;
               }
            }
            
            &.menu_dropdown{
               position: relative;
               &::after{
                  content: "\f0da";
                  top: 6px;
                  right: -16px;
                  position: absolute;
                  font-family: fontawesome;
                  transform: rotate(90deg);
                  font-size: 28px;
                  @include breakpoint(xlarge){
                     font-size: 20px;
                     top: 12px;
                  }
                  @include breakpoint(xmedium){
                     font-size: 15px;
                     top: 15px;
                     right: -10px;
                  }
               }
               .sub-menu-wrapper{
                  display: none;
               }
               .sub_menu{
                  position: absolute;
                  top: 42px;
                  left: 0;
                  padding: 30px 35px;
                  background: #fff;
                  width: 1280px;
                  box-shadow: 0px 11px 15px rgba(0,0,0,0.3);
                  @include breakpoint(laptop){
                     width: 1180px;
                  }
                  @include breakpoint(large){
                     width: 960px;
                     padding: 20px 25px;
                  }
                  @include breakpoint(xmedium){
                     width: 730px;
                     top: 37px;
                  }
                  li{
                     margin-right: 0;
                     padding-right: 70px;
                     @include breakpoint(xmedium){
                        padding-right: 30px;
                     }
                     &:last-of-type{
                        padding-right: 0;
                     }
                     a{
                        font-size: 20px;
                        color: #66aa45;
                        font-weight: 500;
                        padding: 0;
                        @include breakpoint(xxxlarge){
                           font-size: 17px;
                        }
                        @include breakpoint(xxlarge){
                           font-size: 15px;
                        }
                        @include breakpoint(laptop){
                           font-size: 14px;
                        }
                     }
                     .inner-sub-menu{
                        display: block;
                        padding: 0;
                        margin-top: 20px;
                        li{
                           margin-bottom: 10px;
                           padding: 0;
                           display: block;
                           @include breakpoint(laptop){
                              margin-bottom: 5px;
                           }
                           a{
                              color:rgba(0, 3, 22, 0.87);  
                              transition: all 0.5S linear;

                              &:hover{
                                 color: #66aa45;
                              }
                           }
                        }
                     }
                  }
               }
               &:hover{
                  .sub-menu-wrapper{
                     display: block;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 768px){
   header .main_header .left_header .search_area .example input[type=search] {
      font-size: 16px;
      padding: 9px 0;
  }
}
@media (max-width: 550px){
   header .main_header .left_header .search_area .example input[type=search] {
      font-size: 14px;
      padding: 5px 0;
  }
}
@media (max-width: 480px){
   header .main_header .left_header .search_area .example input[type=search] {
      font-size: 14px;
  }
}

@media (max-width: 768px){
   header .logo {
      padding: 10px 0;
  }
  input#quantity {
   font-size: 14px !important;
   }
}

@media (max-width: 480px){
   header .logo {
      padding: 8px 0;
   }
  input#quantity {
   font-size: 12px !important;
   }
}

.inner-search{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   .example{
      width: calc(100% - 50px);
   }
   a{
      width: 50px;
      margin-left: auto;
      span{
         width: 30px;
         height: 30px;
         background-color: #fff;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 20px;
         i{
            font-size: 20px;
            color: #66aa45;
         }
         @include breakpoint (small){
            margin: 10px 20px;
         }
      }
   }
}
body{
   &.check_out_header{
      .example{
         display: none;
      }
   }
}