@import "./scss/abstracts/themeSrc.scss";
@import "./scss/components/buttons.scss";
#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.loadedContent{
    h4{
        color: $secondaryColor;
    }
}
.bZUXHV:hover {
    color: #fff !important;
}
.modal-backdrop{
    background-color:$primaryColor;
    &.show{
        opacity: 0.74;
    }
}
.modal-open{
    #root{
        text-shadow: 0 0 5px rgb(0 0 0 / 50%);
        color: $transparent;
    }
}
button{
    &.close{
        @include PaddingCommon(0);
        min-width: auto;
        font-size:16px;
        @include Position(absolute);
        right:-9px;
        top: -9px;
        border: 1px solid $whiteColor;
        color: $whiteColor;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-shadow: none;
        opacity: 1;
        &:hover{
            background-color:$whiteColor !important;
            border-color:$whiteColor !important;
        }
    }
}
.modal{
.modal-content{
    background-color:$primaryColor;
    border:0;
    .modal-body{
        @include Padding(1rem,1rem,3rem,1rem);
        @media(max-width:$xxlDevice){
            @include Padding(1rem,1rem,1rem,1rem);
        }
    }
    h3{
        color: $popupHeadingColor;
        @include Margin(0,0,30px,0);
        @media(max-width:$xxlDevice){
            font-size: 24px;
        }
    }
    h4 {
        color: $popupHeadingColor;
    }
    label, i, a{
        color: $popupLabelColor;
    }
    .input-group{
        background-color:$inputColor;
        @include borderRadiusCommon(6px);
        .input-group-text{
            background-color:$whiteColor;
            @include PaddingCommon(0);
            border: 0;
            @include borderRadiusCommon(50%);
            @include Width(30px);
            @include Height(30px);
            text-align: $textCenter;
            @include Display(block);
            line-height:30px;
            @include Margin(7px,5px,7px,15px);
            img{
                @include Width(13px);
            }
        }
        @media(max-width:$xxlDevice){
            margin-bottom: 14px !important;
        }
    }

    .form-control{
        color: $popupInputColor;
        @media(max-width:$xxlDevice){
            height: 40px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .btn-signin{
        color: $popupButtonColor;
        background-color:$popupButtonBackground;
        border-color:$popupButtonColor;
        &:hover{
            color: $popupButtonHoverColor;
            border-color: $popupButtonHoverColor;
            background-color:$popupButtonHoverBackground;
        }
        @media(max-width:$xxlDevice){
            @include Margin(20px,0,0,0);
        }
    }
    .alert{
        margin:0;
    }
}
}

.white-background-modal{
    .modal-content{
        background-color:$whiteColor;
        .modal-body{
            @include Padding(1rem,2rem,2rem,2rem);
        }
        h3{
            color: $whitePopupHeadingColor;
            font-size: 1.35rem;
            font-weight: $fontWeight700;
        }
        i{
            font-size: 14px;
            font-style: italic;
            font-weight: $fontWeight500;
            color: $whitePopupLabelColor;
            @include Margin(0,0,25px,0);
        }
        label{
            color: $whitePopupLabelColor;
        }
        .close{
            color: $primaryTextColor;
            border-color: $primaryColor;
            right: 4px;
            top: 4px;
            &:hover{
                background-color:$secondaryColor !important;
                border-color:$secondaryColor !important;
                color:$whiteColor !important;
            }
        }
        label{
            font-weight: $fontWeight600;
            font-size: 16px;
            @include Margin(0,0,5px,0);
            sup{
                @include Margin(0,0,0,5px);
            }
        }
        select{
            color: $whitePopupInputColor;
        }
        textarea{
            color: $whitePopupInputColor;
            &.form-control{
                @include Height(auto);
            }
        }
        .form-control{
            font-size: 14px;
            @include borderRadiusCommon(5px);
            @include Height(40px);
        }
        .file-attach{
            font-weight: $fontWeight500;
            font-size: 13px;
            border:1px solid;
            @include borderRadiusCommon(6px);
            @include Padding(7px,10px,7px,10px);
            @include MarginCommon(0);
            cursor: pointer;
            img{
                @include Width(15px);
                @include Margin(0,0,0,10px);
            }
            input{
                @include Position(absolute);
                left: -999px;
                visibility: hidden;
            }
        }
        .btn-signin{
            color: $whitePopupButtonColor;
            border-color: $whitePopupButtonColor;
            background-color:$whitePopupButtonBackground;
            &:hover{
                color: $whitePopupButtonHoverColor;
                border-color: $whitePopupButtonHoverColor;
                background-color:$whitePopupButtonHoverBackground;
            }
        }
    }
}
.success-message {
    font-size: 14px;
}
.form-validate-error {
    font-size: 14px;
    /*margin-top: -14px;
    margin-bottom: 10px;*/
}
.form-validate-error.checkbox {
    margin-top: 0 !important;
}

.checkbox{
    color: $primaryTextColor;
    font-size:13px;
    font-weight: $fontWeight400;
    cursor: $cursorPointer;
    @include Position(relative);
    @include Padding(0,0,0,30px);
    .checkmark{
        left:0;
        top: 0;
        @include Height(18px);
        @include Width(18px);
        @include Position(absolute);
        @include borderRadiusCommon(6px);
        background-color:$inputColor;
        &:after{
            @include Display(none);
            @include Position(absolute);
            content: "";
            left: 6px;
            top: 3px;
            @include Height(10px);
            @include Width(6px);
            border: solid $primaryColor;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    input{  
        @include Position(absolute);
        opacity: 0;
        left: 0;
    }
    input:checked ~ .checkmark:after, .checkmark.checked::after{
        @include Display(block);
    }
    &.radiobox{
        font-weight: $fontWeight600;
        color: $primaryTextColor;
        font-size:16px;
        @include Padding(0,30px,0,45px);
        .checkmark{
            @include Height(25px);
            @include Width(25px);
            @include borderRadiusCommon(20px);
            &:after{
                left: 0;
                top: 0;
                @include Height(25px);
                @include Width(25px);
                @include borderRadiusCommon(20px);
                border: 7px solid $primaryColor;
                transform: none;
                box-shadow: 0px 1px 2.9px 0.1px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.tab-content{
    .align-items-center{
        @media(max-width:$xxlDevice){
            margin-bottom: 1rem !important;
        }
        label{
            color: $primaryTextColor;

            .checkmark{
                @media(max-width:$xxlDevice){
                    height: 20px;
                    width: 20px;
                }
            }
            @media(max-width:$xxlDevice){
                font-weight: 500;
                font-size: 16px;
            }
        }
        .form-control{
            @media(max-width:$xxlDevice){
                font-weight: 500;
            }
        }
    }
    .textarea-item{
        label{
            @media(max-width:$xxlDevice){
                font-weight: 500;
                font-size: 16px;
            }
            @media(max-width:$smDevice){
                margin-bottom: 10px;
            }
        }
    }
    .claimant-info{
        @media(max-width:$xxlDevice){
            padding: 32px;
        }
    }
    .claim-info{
        @media(max-width:$xxlDevice){
            padding: 32px;
        }
    }
    .document-upload{
        h1{
            @media(max-width:$xxlDevice){
                font-size: 24px;
                font-weight: 500;
                @include Margin(0,0,20px,0);
            }
        }
        h2{
            @media(max-width:$xxlDevice){
                font-size: 24px;
                font-weight: 500;
                @include Margin(0,0,20px,0);
            }
        }

        ul{
            li{
                label{
                    @media(max-width:$xxlDevice){
                        font-weight: 400;
                    }
                    .checkmark{
                        @media(max-width:$xxlDevice){
                            height: 20px;
                            width: 20px;
                            top: 6px;
                        }
                        &:after{
                            @media(max-width:$xxlDevice){
                                height: 20px;
                                width: 20px;
                                border: 6px solid $primaryColor;
                            }
                        }
                    }
                }
                @media(max-width:$xxlDevice){
                    @include Margin(0,0,16px,0);
                }
            }
        }

        @media(max-width:$xxlDevice){
            padding: 32px;
        }
    }
    .respondent-info{
        .add-respondent{
            img{
                @media(max-width:$xxlDevice){
                    width: 15px;
                }
            }
            @media(max-width:$xxlDevice){
                font-size: 14px;
                font-weight: 400;
            }
        }
        @media(max-width:$xxlDevice){
            padding: 32px;
        }
    }
    .summary{
        .summary-list{
            li{
                h6{
                    @media(max-width:$xxlDevice){
                        font-size: 15px;
                    }
                }
                p{
                    @media(max-width:$xxlDevice){
                        font-size: 15px;
                    }
                }
            }
        }
        h1{
            @media(max-width:$xxlDevice){
                font-size: 22px;
                font-weight: 500;
                @include Margin(0,0,20px,0);
            }
        }
        h2{
            @media(max-width:$xxlDevice){
                font-size: 22px;
                font-weight: 500;
                @include Margin(0,0,20px,0);
            }
        }
        .acknowledgement{
            img{
                @media(max-width:$xxlDevice){
                    width: 30px;
                }
            }
            h5{
                @media(max-width:$xxlDevice){
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            p{
                @media(max-width:$xxlDevice){
                    font-size: 16px;
                }
            }
        }
        @media(max-width:$xxlDevice){
            padding: 32px;
        }
    }
    .table-responsive{
        tr{
            th{
                &::before{
                    @media(max-width:$xxlDevice){
                        top: 26px !important;
                        border-left: 4px solid transparent !important;
                        border-right: 4px solid transparent !important;
                        border-top: 6px solid #ffffff !important;
                    }            
                }
                &::after{
                    @media(max-width:$xxlDevice){
                        bottom: 26px !important;
                        border-left: 4px solid transparent !important;
                        border-right: 4px solid transparent !important;
                        border-top: 6px solid #ffffff !important;
                    }            
                }
                @media(max-width:$xxlDevice){
                    font-weight: 400 !important;
                    @include Padding(0.62rem,0.62rem,0.62rem,0.62rem);
                }
            }
        }
    }
    .claim-list{
        .add-primary{
            @media(max-width:$xxlDevice){
                font-size: 15px;
                font-weight: 400;
                margin-right: 20px;
            }
            @media(max-width:$smDevice){
                width: 100%;
                margin-bottom: 10px;
                margin: 0 10px 10px 0;
                min-width: 100px;
            }
        }
        .input-group{
            @media(max-width:$smDevice){
                width:70%;
                margin-top: 20px;
            }
            .form-control{
                @media(max-width:$xxlDevice){
                    height: 34px;
                    padding:15px 15px;
                    font-weight: 400;
                }
            }
            .input-group-text{
                img{
                    @media(max-width:$xxlDevice){
                        width: 20px;
                    }
                    cursor: pointer;
                }
            }
        }
        a{
            @media(max-width:$smDevice){

            }
        }
        @media(max-width:$smDevice){
                
        }
    }
    .new-claim{
        .new-claim-btn{
            @media(max-width:$xxlDevice){
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

.table-responsive{
    .noData {
        thead tr{
            th:before, th:after{
                content: none;
            }
        }
        tbody td{
            text-align:center;
        }
    }
}
.file-details{
    
    .table-responsive{
        tr{
            th{
                &::before{
                    @media(max-width:$xxlDevice){
                        top: 26px !important;
                        border-left: 4px solid transparent !important;
                        border-right: 4px solid transparent !important;
                        border-top: 6px solid #ffffff !important;
                    }            
                }
                &::after{
                    @media(max-width:$xxlDevice){
                        bottom: 26px !important;
                        border-left: 4px solid transparent !important;
                        border-right: 4px solid transparent !important;
                        border-top: 6px solid #ffffff !important;
                    }            
                }
                @media(max-width:$xxlDevice){
                    font-weight: 400 !important;
                    @include Padding(0.62rem,0.62rem,0.62rem,0.62rem);
                }
            }
        }
    }
    .filter-field{
        label{
            @media(max-width:$xxlDevice){
                font-weight: 500;
                font-size: 15px;
                margin-right: 5px;
            }
            @media(max-width:$smDevice){
                margin-bottom: 10px;
            }
        }
        .form-control{
            @media(max-width:$xxlDevice){
                font-weight: 500;
            }
            &:focus{
                background-color: #ffffff;
            }
        }
        .submit-btn{
            @media(max-width:$xxlDevice){
                font-weight: 400;
            }
        }
        @media(max-width:$xxlDevice){
            @include Padding(6px,10px,6px,10px);
        }
    }
    .sort-by{
        @media(max-width:$xxlDevice){
            font-weight: 500;
            font-size: 15px;
            height: 40px;
        }
    }
    &.claim-file-documents {
        p {
            input {
                background: #ffffff;
                height: 34px;
                width: 100% !important;
            }
        }
        .row {
            align-items: center;
        }
        h2 {
            margin: 20px 0;
        }
    }
    @media(max-width:$xxlDevice){
        @include Padding(32px,32px,32px,32px);
        margin: 0 0 40px;
    }
}

.invoice{
    button{
        img{
            @media(max-width:$xxlDevice){
                width: 14px;
            }        
        }
        @media(max-width:$xxlDevice){
            font-size: 15px;
            font-weight: 400;
        }        

    }
    ul{
        li{
            label{
                @media(max-width:$xxlDevice){
                    font-size: 16px;
                }
            }
            p{
                @media(max-width:$xxlDevice){
                    font-size: 16px;
                }
            }
            @media(max-width:$xxlDevice){
                @include Margin(15px,0,15px,0);
            }
        }
    }
    @media(max-width:$xxlDevice){
        @include Margin(0,0,30px,0);
    }
}

.claim-container{
    .claim-accordion{
        button{
            &.accordion-button{
                
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}
button:focus,
a:focus, 
input:focus{
    outline: none !important;
    box-shadow: none !important;
}
.claim-list .input-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $whiteColor;
  }
  
  .claim-list .input-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $whiteColor;
  }
  
  .claim-list .input-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: $whiteColor;
  }

/*.claim-list.claim-list-table .loader .loader {top: auto !important;}*/
.claim-container .tab-content .loader .loader, .tab-content .loader .loader {margin: 70px 0;}
.page-length {flex: 1;}
.uploading-file-name {font-size:12px;}
select.form-control{
    background-image: url('./assets/images/icon.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    appearance:none;
}

.css-1s2u09g-control{
    background: $transparent !important;
    border:0 !important;
}
.css-1okebmr-indicatorSeparator{
    @include Display(none !important);
}
.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer{
    background-image: url('./assets/images/icon.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
}
.css-tlfecz-indicatorContainer svg,
.css-tj5bde-Svg{
    display: none !important;
}
.css-7pwich-Input,
.css-qc6sy-singleValue{
    margin: 0 !important;
    padding: 0 !important;
    color: $secondaryColor !important;
}
.css-2613qy-menu{
    font-size: 12px !important;
    margin:0 !important;
}
.css-2613qy-menu *{
    background: transparent !important;
}
.css-1pahdxg-control{
    box-shadow: none !important;
    border:0 !important;
    background: transparent !important;
}
.alert--modal.respondent-alert .alert-success.show {margin-bottom: 0;}
.invoice .claim-list-table .add-primary {
    background: $primaryColor;
    border-color: $primaryColor;
    color: #ffffff;
    transition: all 0.8s;
    margin: 0 15px 0 0;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 20px;
    text-transform: capitalize;
    white-space: normal;
    word-wrap: break-word;
    min-width: 120px;
    border: 1px solid transparent;
}
.pagination .page-item {margin-bottom: auto;}
.invoice .claim-list-table .add-primary:hover {
    border-color: $primaryColor;
    color: $primaryColor;
    background-color: #ffffff;
}
.filter-options {margin-bottom: 30px;}
.react-datepicker__tab-loop {z-index:11;}
.jBfdBQ, .sc-dmlqKv {max-height: 100% !important;}
.breadcrumb {background-color: #d6dcef;}
select option {font-size: 14px;margin: 0 8px 0 8px;font-weight: 500;}
.file-attach:hover {background-color: $whitePopupLabelColor;} 
.file-attach:hover p {color: $whiteColor;} 
.fade.alert--modal.show {top: 33%;}
.table-responsive .noData.table {margin-top: 20px;}
.navbar .svg-inline--fa {margin-right:5px;}
.svg-inline--fa.fa-file-upload {margin-left:5px;}

@media(max-width:400px){
    .document-upload .add-primary {font-size: 14px !important;padding: 4px !important;}
}
@media(max-width:767px){
    div.fade.modal.show {display:flex !important;}
    .modal-dialog {margin: auto;}
    .inline-heading.desktop-heading {display:none;}
    .file-details .filters .filter-field {display: inline-block;}
    .file-details .filter-field .filter-titles {width: 48%;float: left;display: flex;margin-right: 5px;align-items: center;}
    .tab-content .document-upload h2 {font-size: 20px;}
}
@media(min-width: 768px) and (max-width: 991.98px){
    ol.breadcrumb .row {padding-left: 20px;}
    .inline-heading.desktop-heading {display:none;}
    .filter-titles {display: flex;}
    .file-details .filters .filter-field {display: inline-block;}
    .file-details .filter-field .filter-titles {width: 32%;float: left;display: flex;margin-right: 5px;}
}
@media(min-width:991.98px){
    ol.breadcrumb .row {
        padding-left: 30px;
    }
    .react-datepicker-wrapper {width: auto !important;}
    .row.mobile-heading {display:none;}
    .filters .filter-titles {display: flex;align-items: center;}
}
@media(min-width:$xxlDevice){
    .container{
        max-width: 90%;
    }
    .header--bottom .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .container{
        max-width: 100%;
    }
}