// Breakpoint
$xsmall: 480px !default;
$footerSm: 550px !default;
$small: 767px !default;
$medium: 768px !default;
$xmedium: 992px !default;
$large: 1280px !default;
$laptop: 1366px !default;
$xlarge: 1450px !default;
$xxlarge: 1600px !default;
$xxxlarge: 1800px !default;
$xxxxlarge: 1920px !default;

// Spacing
$spacing-base: 15px;
$spacing-double: $spacing-base * 2;
$spacing-triple: $spacing-base * 3;
$spacing-four: $spacing-base * 4;
$spacing-half: $spacing-base/2;
$spacing-quarter: $spacing-half/2;
// Container
$container: 1518px !default;
$container-sm: 1110px !default;
// Width
$width-full: 100% !default;
$width-half: $width-full / 2 !default;
$width-25: $width-full / 4 !default;
$width-75: $width-full - $width-25 !default;
$full-height: $width-full;
// Font Family

// $font-family-body: 'Roboto', sans-serif;
$font-family-body: "Nunito", Open Sans, sans-serif;

// Typography
$font-size-body: 16px !default;
$font-size-h1: 80px !default;
$font-size-h2: 48px !default;
$font-size-h3: 32px !default;
$font-size-h4: 32px !default;
$font-size-h5: 18px !default;
$font-size-h6: 18px !default;
$font-size-xsm: 12px;
$font-size-sm: 14px;
// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
// Colors
$color-text: rgba(0, 3, 22, 0.87);
$color-primary: #67a830;
$color-white: #fff;
$color-black: #000000;

// Breakpoints
$breakpoints: (xxxxlarge: $xxxxlarge, xxxlarge: $xxxlarge, xlarge: $xlarge,fxsml: $footerSm, xsml: $xsmall, small: $small, medium: $medium, xmedium: $xmedium, laptop: $laptop, large: $large, xxlarge: $xxlarge);
