@import './../../scss/abstracts/themeSrc.scss';
@import './../../scss/components/buttons.scss';
@import './../../scss/components/textField.scss';
.reset--modal{
    .btn-signin{
        @include buttonOutlined;
        @include Margin(15px,0,0,0);
        min-width: 180px;
    }
    h3{
        @include Margin(0,0,10px,0);
    }
    h6{
        color: $whiteColor;
        @include Margin(0,0,30px,0);
        font-weight: $fontWeight400;
    }
}